Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests
  - --bail
  pass_filenames: true

jest-integration:
  name: Integration Tests
  entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
  language: system
  args:
  - --passWithNoTests
  pass_filenames: false

fix: Add unsafe-inline to style-src for Next.js framework styles
  middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Add suppressHydrationWarning to prevent nonce hydration mismatches
  src/app/components/critical-css-provider.tsx
  src/app/components/deferred-css-loader.tsx
  src/app/metadata/structured-data.tsx
Due: eslint, prettier, tsc, jest

test: Output error details in smoke test before assertion
  tests/e2e/workflows/smoke-test.spec.ts
Due: eslint, prettier, tsc, jest

fix: Remove nonce from style-src per CSP specification
  middleware.ts
  src/app/components/critical-css-provider.tsx
  src/app/components/critical-css.tsx
  src/app/components/deferred-css-loader.tsx
  src/app/layout.tsx
  tests/unit/middleware/csp-nonce.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Add analytics.idaromme.dk to script-src CSP directive
  middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

feat: Implement strict nonce-based CSP for App Router (Issue #204) (#206)
  SESSION_HANDOVER.md
  middleware.ts
  src/app/components/analytics-provider.tsx
  src/app/components/critical-css-provider.tsx
  src/app/components/deferred-css-loader.tsx
  src/app/layout.tsx
  src/app/metadata/structured-data.tsx
  tests/e2e/workflows/smoke-test.spec.ts
  tests/performance/fcp-validation.test.ts
  tests/unit/middleware/csp-analytics.test.ts
  tests/unit/middleware/csp-nonce.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Session handoff for Issue #204 completion
  SESSION_HANDOVER.md
Due: prettier

fix: Add PR body attribution check to CI
  .github/workflows/pr-validation.yml
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for PR #208 (attribution check fix) and Issue #209 creation
  SESSION_HANDOVER.md
Due: prettier

fix: Mock analytics endpoint in E2E tests to resolve Safari TLS timeouts
  tests/e2e/analytics-integration.spec.ts
  tests/e2e/helpers/analytics-mock.ts
Due: eslint, prettier, tsc, jest

fix: Increase timeouts for Safari/WebKit dynamic import stability
  SESSION_HANDOVER.md
  playwright.config.ts
  src/components/adaptive/Gallery/index.tsx
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #209 Safari E2E investigation
  SESSION_HANDOVER.md
Due: prettier

fix: Apply global analytics mocking to all E2E tests (Issue #209)
  playwright.config.ts
  src/components/adaptive/Gallery/index.tsx
  tests/e2e/accessibility/focus-restoration.spec.ts
  tests/e2e/accessibility/skip-navigation.spec.ts
  tests/e2e/analytics-integration.spec.ts
  tests/e2e/bundle-loading.spec.ts
  tests/e2e/helpers/test-setup.ts
  tests/e2e/mobile-navigation.spec.ts
  tests/e2e/optimized-image-a11y.spec.ts
  tests/e2e/performance/gallery-performance.spec.ts
  tests/e2e/production-smoke.spec.ts
  tests/e2e/project-browsing.spec.ts
  tests/e2e/utilities/csp-diagnostic.spec.ts
  tests/e2e/workflows/contact-form.spec.ts
  tests/e2e/workflows/gallery-browsing.spec.ts
  tests/e2e/workflows/gallery-performance.spec.ts
  tests/e2e/workflows/image-user-journeys.spec.ts
  tests/e2e/workflows/smoke-test.spec.ts
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #209 Safari E2E fix
  SESSION_HANDOVER.md
Due: prettier

fix: Pin CI to Ubuntu 22.04 for WebKit stability
  .github/workflows/e2e-tests.yml
Due: prettier

docs: Update session handoff with Ubuntu 22.04 fix details
  SESSION_HANDOVER.md
Due: prettier

fix: Run Safari E2E tests on macOS instead of Linux (Issue #209)
  .github/workflows/e2e-tests.yml
Due: prettier

fix: Disable Safari E2E in CI (Issue #209)
  .github/workflows/e2e-tests.yml
  README.md
Due: prettier

fix: Mock analytics endpoint in E2E tests (Fixes #209) (#210)
  .github/workflows/e2e-tests.yml
  README.md
  SESSION_HANDOVER.md
  src/components/adaptive/Gallery/index.tsx
  tests/e2e/accessibility/focus-restoration.spec.ts
  tests/e2e/accessibility/skip-navigation.spec.ts
  tests/e2e/analytics-integration.spec.ts
  tests/e2e/bundle-loading.spec.ts
  tests/e2e/helpers/analytics-mock.ts
  tests/e2e/helpers/test-setup.ts
  tests/e2e/mobile-navigation.spec.ts
  tests/e2e/optimized-image-a11y.spec.ts
  tests/e2e/performance/gallery-performance.spec.ts
  tests/e2e/production-smoke.spec.ts
  tests/e2e/project-browsing.spec.ts
  tests/e2e/utilities/csp-diagnostic.spec.ts
  tests/e2e/workflows/contact-form.spec.ts
  tests/e2e/workflows/gallery-browsing.spec.ts
  tests/e2e/workflows/gallery-performance.spec.ts
  tests/e2e/workflows/image-user-journeys.spec.ts
  tests/e2e/workflows/smoke-test.spec.ts
Due: eslint, prettier, tsc, jest

fix: Add Safari to CI with proper WebKit dependencies (Fixes #212)
  .github/workflows/e2e-tests.yml
Due: prettier

docs: Safari CI investigation handoff (Issue #212)
  SESSION_HANDOVER.md
Due: prettier

fix: Restrict production-validation tests to Chrome only (Fixes #193)
  .github/workflows/production-deploy.yml
Due: prettier

chore: Add Firefox to production-validation tests
  .github/workflows/production-deploy.yml
Due: prettier

fix: Restrict production-validation tests to Chrome + Firefox (Fixes #193)
  .github/workflows/production-deploy.yml
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for Issue #193 resolution (#217)
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for Issue #193 resolution
  SESSION_HANDOVER.md
Due: prettier

perf: fix slow image loading in carousel navigation
  src/components/desktop/Project/DesktopImageCarousel.tsx
Due: eslint, prettier, tsc, jest

perf: fix slow image loading in carousel navigation (#219)
  src/components/desktop/Project/DesktopImageCarousel.tsx
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #218 resolution (#220)
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for Issue #218 resolution
  SESSION_HANDOVER.md
Due: prettier

fix: Test behavior instead of implementation in dynamic import tests
  tests/e2e/performance/gallery-performance.spec.ts
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #137 resolution
  SESSION_HANDOVER.md
Due: prettier

fix: Relax E2E performance thresholds for CI environment
  tests/e2e/performance/gallery-performance.spec.ts
Due: eslint, prettier, tsc, jest

fix: Test behavior instead of implementation in dynamic import tests (#137)
  SESSION_HANDOVER.md
  tests/e2e/performance/gallery-performance.spec.ts
Due: eslint, prettier, tsc, jest

docs: Document E2E performance baselines and fix flaky tests (Issue #222)
  tests/e2e/performance/gallery-performance.spec.ts
Due: eslint, prettier, tsc, jest

docs: Add performance baseline investigation report
  docs/implementation/PERFORMANCE-BASELINE-INVESTIGATION-2025-11-18.md
Due: prettier

docs: Session handoff for Issue #222 resolution
  SESSION_HANDOVER.md
Due: prettier

docs: E2E Performance Baseline Investigation and Documentation (Issue #222) (#223)
  SESSION_HANDOVER.md
  docs/implementation/PERFORMANCE-BASELINE-INVESTIGATION-2025-11-18.md
  tests/e2e/performance/gallery-performance.spec.ts
Due: eslint, prettier, tsc, jest

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^scripts/dist/
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(js|jsx|ts|tsx)$
  jest-integration: any of: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
