Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

.pre-commit-config.yaml:

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        exclude: ^scripts/dist/
        args: [--fix]

      # Prettier formatting
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
        args: [--write]

      # TypeScript type checking
      - id: tsc
        name: TypeScript Check
        entry: npx tsc
        language: system
        files: \.(ts|tsx)$
        args: [--noEmit]
        pass_filenames: false

      # Run all tests except those requiring production build
      - id: jest
        name: Jest Tests
        entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--findRelatedTests, --passWithNoTests, --bail]
        pass_filenames: true

      # Run critical integration tests that might be affected by config changes
      - id: jest-integration
        name: Integration Tests
        entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
        language: system
        files: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
        args: [--passWithNoTests]
        pass_filenames: false

  # CSS/Tailwind specific
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-tailwindcss@0.5.7
        files: \.(css|scss)$

style: remove rounded corners from mobile gallery images (#101)
  src/styles/mobile/gallery.css
Due: prettier

style: remove rounded corners from mobile gallery images
  src/styles/mobile/gallery.css
Due: prettier

feat: add comprehensive API route test coverage (Issue #79 Phase 1)
  jest.setup.ts
  src/app/api/contact/route.ts
  tests/api/contact.test.ts
  tests/api/projects.test.ts
  tests/api/utils.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Issue #79 Phase 1 completion
  SESSION_HANDOVER.md
Due: prettier

test: fix quick win mobile component tests (8 tests gained, 91.4% passing)
  SESSION_HANDOVER.md
  src/components/mobile/ErrorBoundary/__tests__/MobileErrorBoundary.test.tsx
  src/components/mobile/Forms/__tests__/MobileContactForm.test.tsx
  src/components/mobile/Forms/__tests__/MobileFormField.test.tsx
  src/components/mobile/Header/__tests__/HamburgerButton.test.tsx
  src/components/mobile/Header/__tests__/MobileHeader.test.tsx
  src/components/mobile/Header/__tests__/MobileLogo.test.tsx
  src/components/mobile/Header/__tests__/MobileMenu.test.tsx
  src/components/mobile/Header/__tests__/MobileNavLink.test.tsx
  src/components/mobile/Project/ImageBlock.tsx
  src/components/mobile/Project/__tests__/ImageBlock.test.tsx
  src/components/mobile/Project/__tests__/MobileImageStack.test.tsx
  src/components/mobile/Project/__tests__/MobileProjectDetails.test.tsx
  src/components/mobile/Project/__tests__/MobileProjectNavigation.test.tsx
  src/components/mobile/Project/__tests__/MobileProjectView.test.tsx
  src/components/mobile/UI/__tests__/MobileButton.test.tsx
  src/components/mobile/UI/__tests__/MobileLoadingSpinner.test.tsx
  src/components/mobile/UI/__tests__/ScrollToTopButton.test.tsx
  tests/fixtures/forms.ts
  tests/fixtures/navigation.ts
  tests/utils/a11y-helpers.ts
  tests/utils/form-helpers.ts
  tests/utils/mobile-environment.ts
  tests/utils/touch-helpers.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff with PR #103 completion
  SESSION_HANDOVER.md
Due: prettier

style: format SESSION_HANDOVER.md for better readability
  SESSION_HANDOVER.md
Due: prettier

docs: update session handoff for async timeout fixes needed
  SESSION_HANDOVER.md
Due: prettier

refactor: fix TypeScript errors, async timeouts, and JSDOM limitations (421 tests passing)
  .pre-commit-config.yaml
  SESSION_HANDOVER.md
  src/components/mobile/ErrorBoundary/MobileErrorBoundary.tsx
  src/components/mobile/ErrorBoundary/__tests__/MobileErrorBoundary.test.tsx
  src/components/mobile/Forms/__tests__/MobileContactForm.test.tsx
  src/components/mobile/Project/__tests__/MobileImageStack.test.tsx
  src/components/mobile/Project/__tests__/MobileProjectDetails.test.tsx
  src/components/mobile/Project/__tests__/MobileProjectView.test.tsx
  src/components/mobile/UI/MobileButton.tsx
  tests/fixtures/navigation.ts
  tests/utils/form-helpers.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Session 8 completion (421 tests passing)
  SESSION_HANDOVER.md
Due: prettier

docs: add ABOUTME comments, move Playwright test, update README, fix ESLint errors
  README.md
  src/components/mobile/ErrorBoundary/MobileErrorBoundary.tsx
  src/components/mobile/Forms/MobileContactForm.tsx
  src/components/mobile/Forms/MobileFormField.tsx
  src/components/mobile/Forms/__tests__/MobileFormField.test.tsx
  src/components/mobile/Header/HamburgerButton.tsx
  src/components/mobile/Header/MobileHeader.tsx
  src/components/mobile/Header/MobileLogo.tsx
  src/components/mobile/Header/MobileMenu.tsx
  src/components/mobile/Header/MobileNavLink.tsx
  src/components/mobile/Header/__tests__/HamburgerButton.test.tsx
  src/components/mobile/Header/__tests__/MobileHeader.test.tsx
  src/components/mobile/Header/__tests__/MobileMenu.test.tsx
  src/components/mobile/Project/ImageBlock.tsx
  src/components/mobile/Project/MobileImageStack.tsx
  src/components/mobile/Project/MobileProjectDetails.tsx
  src/components/mobile/Project/MobileProjectNavigation.tsx
  src/components/mobile/Project/MobileProjectView.tsx
  src/components/mobile/Project/__tests__/MobileProjectNavigation.test.tsx
  src/components/mobile/UI/MobileButton.tsx
  src/components/mobile/UI/MobileLoadingSpinner.tsx
  src/components/mobile/UI/ScrollToTopButton.tsx
  tests/e2e/optimized-image-a11y.spec.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Phase 2 completion and PR #103 ready for review
  SESSION_HANDOVER.md
Due: prettier

fix: update pre-commit config with working bash wrapper for commit-msg hooks
  .pre-commit-config.yaml
  README.md
Due: prettier

docs: add strategic plan for Issue #79 completion and public launch timeline
  SESSION_HANDOVER.md
Due: prettier

docs: update session handoff for Phase 1 & 2 merge completion
  SESSION_HANDOVER.md
Due: prettier

feat: add E2E testing infrastructure with contact form tests (Issue #79 Phase 3 Day 1)
  .pre-commit-config.yaml
  src/app/api/contact/route.ts
  src/lib/rateLimit.ts
  tests/api/contact.test.ts
  tests/e2e/contact-form.spec.ts
  tests/e2e/fixtures/base.fixture.ts
  tests/e2e/fixtures/mobile.fixture.ts
  tests/e2e/fixtures/network.fixture.ts
  tests/e2e/helpers/assertions.ts
  tests/e2e/helpers/mock-data.ts
  tests/e2e/helpers/navigation.ts
  tests/e2e/pages/ContactPage.ts
  tests/e2e/pages/HomePage.ts
  tests/e2e/pages/MobileMenu.ts
  tests/e2e/pages/ProjectPage.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Phase 3 Day 1 completion with bug fixes
  SESSION_HANDOVER.md
Due: prettier

feat: add project browsing and mobile navigation E2E tests (Issue #79 Phase 3 Day 2)
  tests/e2e/mobile-navigation.spec.ts
  tests/e2e/pages/HomePage.ts
  tests/e2e/pages/MobileMenu.ts
  tests/e2e/pages/ProjectPage.ts
  tests/e2e/project-browsing.spec.ts
Due: eslint, prettier, tsc, jest

docs: apply prettier formatting to session handoff
  SESSION_HANDOVER.md
Due: prettier

chore: upgrade pre-commit config with bypass protection
  .pre-commit-config.yaml
  scripts/bundle-size-check.js
  scripts/dist/scripts/e2e-performance-validation.js
  scripts/dist/scripts/real-world-validation.js
  scripts/performance-regression-check.js
  scripts/simple-validation.js
Due: eslint, prettier, jest

docs: add session handoff for pre-commit deployment
  SESSION_HANDOVER.md
Due: prettier

chore: upgrade pre-commit config with bypass protection (#104)
  .pre-commit-config.yaml
  SESSION_HANDOVER.md
  scripts/bundle-size-check.js
  scripts/dist/scripts/e2e-performance-validation.js
  scripts/dist/scripts/real-world-validation.js
  scripts/performance-regression-check.js
  scripts/simple-validation.js
Due: eslint, prettier, jest

docs: complete Phase 1 quality review and documentation updates
  README.md
  SESSION_HANDOVER.md
  tests/e2e/utils/page-objects/gallery-page.ts
  tests/e2e/workflows/gallery-browsing.spec.ts
Due: eslint, prettier, tsc, jest

docs: add detailed agent findings and decision analysis to session handoff
  SESSION_HANDOVER.md
Due: prettier

fix: resolve 3 blocking issues for public launch (Issue #79)
  playwright-report/index.html
  src/components/Header/Header.tsx
  tests/e2e/bundle-loading.spec.ts
  tests/e2e/workflows/contact-form.spec.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff with Phase 2 completion
  SESSION_HANDOVER.md
Due: prettier

chore: remove duplicate contact-form test file
  tests/e2e/contact-form.spec.ts
Due: eslint, prettier, tsc, jest

docs: document PR #105 creation for Issue #79
  SESSION_HANDOVER.md
Due: prettier

docs: add startup prompt for next session
  SESSION_HANDOVER.md
Due: prettier

docs: update E2E test count from 55 to 77 in README
  README.md
Due: prettier

feat: Comprehensive E2E test infrastructure for production launch (Issue #79) (#105)
  README.md
  SESSION_HANDOVER.md
  playwright-report/index.html
  src/app/api/contact/route.ts
  src/components/Header/Header.tsx
  src/lib/rateLimit.ts
  tests/api/contact.test.ts
  tests/e2e/bundle-loading.spec.ts
  tests/e2e/fixtures/base.fixture.ts
  tests/e2e/fixtures/mobile.fixture.ts
  tests/e2e/fixtures/network.fixture.ts
  tests/e2e/helpers/assertions.ts
  tests/e2e/helpers/mock-data.ts
  tests/e2e/helpers/navigation.ts
  tests/e2e/mobile-navigation.spec.ts
  tests/e2e/pages/ContactPage.ts
  tests/e2e/pages/HomePage.ts
  tests/e2e/pages/MobileMenu.ts
  tests/e2e/pages/ProjectPage.ts
  tests/e2e/project-browsing.spec.ts
  tests/e2e/utils/page-objects/gallery-page.ts
  tests/e2e/workflows/contact-form.spec.ts
  tests/e2e/workflows/gallery-browsing.spec.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Issue #79 completion (#106)
  SESSION_HANDOVER.md
Due: prettier

docs: update session handoff for Issue #79 completion
  SESSION_HANDOVER.md
Due: prettier

docs: prepare repository for public launch
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  SESSION_HANDOVER.md
Due: prettier

docs: prepare repository for public launch (#107)
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  CONTRIBUTING.md
  SESSION_HANDOVER.md
Due: prettier

docs: Complete public launch preparation (Phase 2-3) (#108)
  LICENSE
  README.md
  SECURITY.md
  docs/lighthouse-archives/bundle-size-report.md
  docs/lighthouse-archives/chromewebdata_2025-09-20_08-32-16.report.html
  docs/lighthouse-archives/localhost_2025-10-01_16-30-20.report.html
  lighthouse-current-audit.report.html
  lighthouse-current-audit.report.json
  lighthouse-production-audit.report.json
  src/hooks/mobile/useSwipeGesture.ts
Due: eslint, prettier, tsc, jest

docs: add LICENSE and SECURITY.md for public launch (Phase 3)
  LICENSE
  SECURITY.md
Due: prettier

chore: prepare repository for public launch (Phase 2 - Code Quality)
  README.md
  docs/lighthouse-archives/bundle-size-report.md
  docs/lighthouse-archives/chromewebdata_2025-09-20_08-32-16.report.html
  docs/lighthouse-archives/localhost_2025-10-01_16-30-20.report.html
  lighthouse-current-audit.report.html
  lighthouse-current-audit.report.json
  lighthouse-production-audit.report.json
  src/hooks/mobile/useSwipeGesture.ts
Due: eslint, prettier, tsc, jest

fix: replace placeholder emails in SECURITY.md with GitHub Security Advisories
  SECURITY.md
Due: prettier
