Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-size|production-config|bundle-debug"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests

improve: include bundle-size and production-config tests in pre-commit
  .pre-commit-config.yaml
Due: prettier

test: verify bundle-size tests run in pre-commit hook
  tests/performance/bundle-size.test.ts
Due: eslint, prettier, tsc, jest

cleanup: restore bundle-size test file to original state
  tests/performance/bundle-size.test.ts
Due: eslint, prettier, tsc, jest

fix: exclude Playwright E2E tests from Jest pre-commit hook
  .pre-commit-config.yaml
  logs/credential-access.log
Due: prettier

fix: resolve critical deployment pipeline issues
  .github/workflows/performance-budget.yml
  lighthouserc.js
  middleware.ts
Due: eslint, prettier, tsc

fix: resolve bundle size validation ES module import error
  scripts/bundle-size-check.js
  scripts/compiled/bundle-monitor.js
  src/utils/bundle-monitor.ts
Due: eslint, prettier, tsc

fix: implement proper Next.js 15 App Router bundle analysis
  .bundle-history.json
  bundle-size-report.md
  dist/types/performance.js
  dist/utils/performance-monitoring.js
  scripts/bundle-size-check.js
  scripts/compiled/bundle-monitor.js
  src/utils/bundle-monitor.ts
  tests/performance-budget/budget-enforcement.test.ts
Due: eslint, prettier, tsc, jest

fix: add missing start:ci npm script for Lighthouse CI
  package.json
Due: prettier

fix: resolve Lighthouse mobile form factor configuration conflict
  lighthouserc.js
Due: eslint, prettier

fix: update Lighthouse test URLs to use actual existing routes
  lighthouserc.js
Due: eslint, prettier

fix: resolve deployment blocking test failures and adjust Lighthouse thresholds
  lighthouserc.js
  tests/performance/monitoring-integration.test.ts
  tests/performance/service-worker.test.ts
Due: eslint, prettier, tsc, jest

chore: update bundle size analysis with latest build metrics
  .bundle-history.json
  bundle-size-report.md
Due: prettier

docs: add PRD and PDR for critical performance optimization
  docs/implementation/PDR-lighthouse-performance-optimization-2025-09-25.md
  docs/implementation/PRD-lighthouse-performance-optimization-2025-09-25.md
Due: prettier

feat: implement Phase 1 strategic bundle consolidation
  config/webpack.optimization.ts
  next.config.ts
  package.json
  tests/integration/bundle-optimization.test.ts
Due: eslint, prettier, tsc, jest

build: update bundle analysis artifacts after Phase 1 consolidation
  .bundle-history.json
  bundle-size-report.md
Due: prettier

docs: add Phase 1 bundle consolidation implementation results
  docs/implementation/PHASE1-bundle-consolidation-results-2025-09-25.md
Due: prettier

build: add package-lock.json and lighthouse audit reports
  lighthouse-current-audit.report.html
  lighthouse-current-audit.report.json
  package-lock.json
Due: prettier

docs: add Phase 3 handoff documentation for API routes strategy
  docs/implementation/SESSION-HANDOFF-PHASE3-2025-09-25.md
Due: prettier

docs: update Phase 3 handoff with stashed changes info
  docs/implementation/SESSION-HANDOFF-PHASE3-2025-09-25.md
Due: prettier

docs: finalize Phase 3 documentation with current bundle metrics
  CLAUDE.md
  docs/implementation/PHASE-3-API-ROUTES-COMPLETE-2025-09-26.md
  docs/implementation/SESSION-HANDOFF-PHASE4-2025-09-26.md
Due: prettier

chore: finalize Phase 4 documentation and formatting updates
  .bundle-history.json
  CLAUDE.md
  bundle-size-report.md
  docs/implementation/PHASE-4-BUILD-OPTIMIZATION-2025-09-26.md
  docs/implementation/SESSION-HANDOFF-COMPLETE-2025-09-26.md
  next.config.ts
  tests/integration/bundle-optimization.test.ts
Due: eslint, prettier, tsc, jest

chore: update bundle tracking with final Phase 4 metrics
  .bundle-history.json
  bundle-size-report.md
Due: prettier

fix: apply pre-commit hook formatting changes
  CLAUDE.md
  docs/implementation/SESSION-HANDOFF-FINAL-2025-09-26.md
  docs/implementation/archive/SESSION-HANDOFF-COMPLETE-2025-09-26.md
  docs/implementation/archive/SESSION-HANDOFF-PHASE2-2025-09-25.md
  docs/implementation/archive/SESSION-HANDOFF-PHASE3-2025-09-25.md
  docs/implementation/archive/SESSION-HANDOFF-PHASE4-2025-09-26.md
  middleware.ts
  public/images/placeholder.jpg
  src/app/components/html-head.tsx
  src/app/fonts/index.ts
  src/app/layout.tsx
  src/components/desktop/Gallery/DesktopGalleryItem.tsx
  src/sanity/queries.ts
  src/styles/index.css
Due: eslint, prettier, tsc

feat: optimize image quality settings for runtime performance
  src/app/project/[slug]/utils/project-helpers.ts
  src/components/desktop/Gallery/DesktopGalleryItem.tsx
  src/components/desktop/Project/DesktopImageCarousel.tsx
Due: eslint, prettier, tsc

feat: optimize image quality settings for runtime performance (#37)
  src/app/project/[slug]/utils/project-helpers.ts
  src/components/desktop/Gallery/DesktopGalleryItem.tsx
  src/components/desktop/Project/DesktopImageCarousel.tsx
Due: eslint, prettier, tsc

🚨 EMERGENCY: Fix pipeline blocking performance issues
  .bundle-history.json
  CLAUDE.md
  bundle-size-report.md
  docs/implementation/CURRENT-STATUS-2025-09-26.md
  docs/implementation/PDR-lighthouse-performance-optimization-2025-09-25.md
  docs/implementation/PRD-lighthouse-performance-optimization-2025-09-25.md
  docs/implementation/SESSION-HANDOFF-FINAL-2025-09-26.md
  docs/implementation/archive/PHASE-3-API-ROUTES-COMPLETE-2025-09-26.md
  docs/implementation/archive/PHASE-4-BUILD-OPTIMIZATION-2025-09-26.md
  docs/implementation/archive/PHASE1-bundle-consolidation-results-2025-09-25.md
  lighthouserc.advanced.js
  lighthouserc.js
  next.config.ts
  src/app/page.tsx
  src/components/adaptive/Gallery/index.tsx
  tests/integration/bundle-optimization.test.ts
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

🚨 EMERGENCY: Further reduce Lighthouse thresholds to unblock pipeline
  lighthouserc.js
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

🚨 CRITICAL: Fix hardcoded GitHub Actions performance thresholds
  .github/workflows/lighthouse-ci.yml
Due: prettier

🚨 EMERGENCY: Fix pipeline blocking performance issues (#42)
  .bundle-history.json
  .github/workflows/lighthouse-ci.yml
  CLAUDE.md
  bundle-size-report.md
  docs/implementation/CURRENT-STATUS-2025-09-26.md
  docs/implementation/PDR-lighthouse-performance-optimization-2025-09-25.md
  docs/implementation/PRD-lighthouse-performance-optimization-2025-09-25.md
  docs/implementation/SESSION-HANDOFF-FINAL-2025-09-26.md
  docs/implementation/archive/PHASE-3-API-ROUTES-COMPLETE-2025-09-26.md
  docs/implementation/archive/PHASE-4-BUILD-OPTIMIZATION-2025-09-26.md
  docs/implementation/archive/PHASE1-bundle-consolidation-results-2025-09-25.md
  lighthouserc.advanced.js
  lighthouserc.js
  next.config.ts
  src/app/page.tsx
  src/components/adaptive/Gallery/index.tsx
  tests/integration/bundle-optimization.test.ts
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

fix: resolve emergency production pipeline failures
  .github/workflows/production-deploy.yml
  jest.setup.ts
  tests/performance/bundle-size.test.ts
  tests/performance/validate-optimization.test.ts
  tests/security/performance-security.test.ts
Due: eslint, prettier, tsc, jest

feat: complete Issue #39 Phase 3 monitoring and rollback procedures
  .performance-baseline.json
  docs/emergency-rollback-procedures.md
  logs/credential-access.log
  package.json
  scripts/performance-baseline.js
  scripts/performance-monitor.js
Due: eslint, prettier

chore: update performance baseline timestamp
  .performance-baseline.json
Due: prettier

docs: update project status - Issue #39 emergency resolved
  CLAUDE.md
Due: prettier

feat: implement Phase 2A performance optimizations - Issue #40
  .browserslistrc
  src/components/desktop/Gallery/DesktopGalleryItem.tsx
Due: eslint, prettier, tsc

feat: Phase 2B JavaScript execution optimization - Issue #40
  next.config.ts
  src/app/components/analytics-provider.tsx
  src/components/desktop/Gallery/DesktopGallery.tsx
  tests/integration/real-gallery-navigation.test.tsx
Due: eslint, prettier, tsc, jest

feat: Phase 2C advanced performance optimization - Issue #40
  .github/workflows/performance-budget.yml
  CLAUDE.md
  docs/implementation/NEXT-SESSION-PRIORITIES-ISSUE-40-2025-09-27.md
  docs/implementation/PHASE-2B-COMPLETE-2025-09-27.md
  docs/implementation/PHASE-2C-ADVANCED-OPTIMIZATION-2025-09-28.md
  docs/implementation/SESSION-COMPLETION-SUMMARY-2025-09-27.md
  docs/implementation/SESSION-HANDOFF-ISSUE-40-PHASE-2B-2025-09-27.md
  next.config.ts
  src/components/adaptive/Gallery.tsx
Due: eslint, prettier, tsc

fix: resolve package conflict in next.config.ts - Phase 2C Issue #40
  next.config.ts
Due: eslint, prettier, tsc

docs: Phase 2C breakthrough documentation - Issue #40
  .performance-baseline.json
  CLAUDE.md
  docs/implementation/SESSION-COMPLETION-SUMMARY-2025-09-28.md
Due: prettier

docs: Complete 6-agent audit findings for Issue #40
  docs/implementation/AGENT-AUDIT-FINDINGS-ISSUE-40-2025-09-28.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(test|spec)\.(js|jsx|ts|tsx)$
