Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests
  - --bail
  pass_filenames: true

jest-integration:
  name: Integration Tests
  entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
  language: system
  args:
  - --passWithNoTests
  pass_filenames: false

fix: Replace CDP network throttling with cross-browser page.route() in project-browsing E2E test (Issue #152)
  tests/e2e/project-browsing.spec.ts
Due: eslint, prettier, tsc, jest

fix: Replace CDP network throttling with cross-browser page.route() (Issue #152)
  tests/e2e/project-browsing.spec.ts
Due: eslint, prettier, tsc, jest

docs: Complete session handoff for Issue #152 merge
  SESSION_HANDOVER.md
Due: prettier

fix: Resolve CI failures in branch protection and production deployment
  .github/workflows/branch-protection.yml
  .github/workflows/production-deploy.yml
Due: prettier

docs: Add session handoff for hotfix CI/deployment fixes
  SESSION_HANDOVER.md
Due: prettier

fix: Resolve CI failures in branch protection and production deployment (#172)
  .github/workflows/branch-protection.yml
  .github/workflows/production-deploy.yml
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff for PR #172 merge (#174)
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff for PR #172 merge
  SESSION_HANDOVER.md
Due: prettier

fix: Add text color to mobile form inputs for visibility
  src/styles/mobile/forms.css
Due: prettier

docs: Update session handoff for Issue #173 completion
  SESSION_HANDOVER.md
Due: prettier

fix: Add text color to mobile form inputs for visibility (Issue #173) (#175)
  SESSION_HANDOVER.md
  src/styles/mobile/forms.css
Due: prettier

docs: Mark Issue #173 as deployed to production
  SESSION_HANDOVER.md
Due: prettier

fix: Add text color to desktop form inputs for visibility (Issue #176)
  src/styles/desktop/forms.css
Due: prettier

fix: Desktop contact form text visibility (Issue #176) (#177)
  SESSION_HANDOVER.md
  src/styles/desktop/forms.css
Due: prettier

docs: Complete session handoff for Issues #173 & #176 (#179)
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff for Issues #173 & #176
  SESSION_HANDOVER.md
Due: prettier

feat: Add fallback email reveal button to contact forms (Issue #178)
  src/components/desktop/Forms/DesktopContactForm.tsx
  src/components/mobile/Forms/MobileContactForm.tsx
  src/components/shared/EmailReveal/EmailRevealButton.tsx
  src/components/shared/EmailReveal/__tests__/EmailRevealButton.test.tsx
  src/components/shared/EmailReveal/email-reveal.css
  src/utils/analytics.ts
Due: eslint, prettier, tsc, jest

docs: Complete session handoff for Issue #178 implementation
  SESSION_HANDOVER.md
Due: prettier

refactor: Streamline email reveal to minimal UX
  src/components/desktop/Forms/DesktopContactForm.tsx
  src/components/mobile/Forms/MobileContactForm.tsx
  src/components/shared/EmailReveal/EmailRevealButton.tsx
  src/components/shared/EmailReveal/__tests__/EmailRevealButton.test.tsx
  src/components/shared/EmailReveal/email-reveal.css
  src/utils/analytics.ts
Due: eslint, prettier, tsc, jest

feat: Add fallback email reveal button to contact forms (Issue #178) (#180)
  SESSION_HANDOVER.md
  src/components/desktop/Forms/DesktopContactForm.tsx
  src/components/mobile/Forms/MobileContactForm.tsx
  src/components/shared/EmailReveal/EmailRevealButton.tsx
  src/components/shared/EmailReveal/__tests__/EmailRevealButton.test.tsx
  src/components/shared/EmailReveal/email-reveal.css
  src/utils/analytics.ts
Due: eslint, prettier, tsc, jest

docs: Update session handoff for Issue #178 completion (#181)
  SESSION_HANDOVER.md
Due: prettier

docs: Update session handoff for Issue #178 completion
  SESSION_HANDOVER.md
Due: prettier

feat: Add Umami analytics support to CSP
  src/middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

feat: Add Umami analytics support to CSP (#182)
  src/middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

test: Add comprehensive Umami analytics integration tests (#183)
  tests/ANALYTICS_TESTING.md
  tests/README.md
  tests/e2e/analytics-integration.spec.ts
  tests/integration/analytics-provider.test.tsx
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest

test: Add comprehensive Umami analytics integration tests
  tests/ANALYTICS_TESTING.md
  tests/README.md
  tests/e2e/analytics-integration.spec.ts
  tests/integration/analytics-provider.test.tsx
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest

fix: Resolve TypeScript errors in analytics tests (#184)
  tests/integration/analytics-provider.test.tsx
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest

fix: Resolve TypeScript errors in analytics tests
  tests/integration/analytics-provider.test.tsx
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest

fix: Add Umami analytics environment variables to deployment workflow
  .github/workflows/production-deploy.yml
Due: prettier

fix: Add Umami analytics environment variables to deployment workflow (#185)
  .github/workflows/production-deploy.yml
Due: prettier

fix: Set NODE_ENV=production during build for analytics (#186)
  .github/workflows/production-deploy.yml
Due: prettier

fix: Set NODE_ENV=production during build for analytics
  .github/workflows/production-deploy.yml
Due: prettier

docs: Update session handoff for Umami analytics integration (#187)
  SESSION_HANDOVER.md
Due: prettier

docs: Update session handoff for Umami analytics integration
  SESSION_HANDOVER.md
Due: prettier

fix: Add NODE_ENV=production to server build command (#189)
  .github/workflows/production-deploy.yml
Due: prettier

fix: Add NODE_ENV=production to server build command
  .github/workflows/production-deploy.yml
Due: prettier

fix: Clear Next.js build cache and use pm2 restart
  .github/workflows/production-deploy.yml
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^scripts/dist/
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(js|jsx|ts|tsx)$
  jest-integration: any of: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
