Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

.pre-commit-config.yaml:

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        exclude: ^scripts/dist/
        args: [--fix]

      # Prettier formatting
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
        args: [--write]

      # TypeScript type checking
      - id: tsc
        name: TypeScript Check
        entry: npx tsc
        language: system
        files: \.(ts|tsx)$
        args: [--noEmit]
        pass_filenames: false

      # Run all tests except those requiring production build
      - id: jest
        name: Jest Tests
        entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--findRelatedTests, --passWithNoTests, --bail]
        pass_filenames: true

      # Run critical integration tests that might be affected by config changes
      - id: jest-integration
        name: Integration Tests
        entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
        language: system
        files: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
        args: [--passWithNoTests]
        pass_filenames: false

  # CSS/Tailwind specific
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-tailwindcss@0.5.7
        files: \.(css|scss)$

docs: Complete session handoff for Issue #222 resolution
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff for Issue #222 resolution (#224)
  SESSION_HANDOVER.md
Due: prettier

fix: resolve systematic visibility pattern in E2E tests
  src/components/desktop/Gallery/Gallery.tsx
  src/components/server/FirstImage.module.css
  src/styles/mobile/gallery.css
  tests/e2e/workflows/image-user-journeys.spec.ts
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #136 resolution
  SESSION_HANDOVER.md
Due: prettier

fix: use @ts-expect-error instead of @ts-ignore for ESLint compliance
  src/components/desktop/Gallery/Gallery.tsx
Due: eslint, prettier, tsc, jest

docs: Session handoff for mobile visibility investigation (Issue #136)
  SESSION_HANDOVER.md
Due: prettier

fix: enable FirstImage visibility on mobile viewports for LCP optimization
  src/styles/mobile/gallery.css
Due: prettier

docs: Session handoff for Issue #136 mobile visibility fix completion
  SESSION_HANDOVER.md
Due: prettier

fix: resolve systematic visibility pattern in E2E tests (Issue #136)
  SESSION_HANDOVER.md
  src/components/desktop/Gallery/Gallery.tsx
  src/components/server/FirstImage.module.css
  src/styles/mobile/gallery.css
  tests/e2e/workflows/image-user-journeys.spec.ts
Due: eslint, prettier, tsc, jest

docs: Final session handoff for Issue #136 completion and merge
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for Issue #136 completion and dependency updates
  SESSION_HANDOVER.md
Due: prettier

fix: resolve slow 3G image loading timeout in E2E test (Issue #225)
  tests/e2e/workflows/image-user-journeys.spec.ts
Due: eslint, prettier, tsc, jest

docs: complete session handoff for Issue #225 resolution
  SESSION_HANDOVER.md
Due: prettier

fix: resolve slow 3G image loading timeout in E2E test (Issue #225) (#228)
  SESSION_HANDOVER.md
  tests/e2e/workflows/image-user-journeys.spec.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Issue #229 creation and Session 14 cleanup
  SESSION_HANDOVER.md
Due: prettier

fix: align MobileGallery FirstImage hiding with Desktop Gallery pattern (Issue #229)
  src/components/mobile/Gallery/MobileGallery.module.css
  src/components/mobile/Gallery/MobileGallery.tsx
Due: eslint, prettier, tsc, jest

docs: complete session handoff for Issue #229 resolution
  SESSION_HANDOVER.md
Due: prettier

fix: align MobileGallery FirstImage hiding with Desktop Gallery pattern (Issue #229) (#231)
  SESSION_HANDOVER.md
  src/components/mobile/Gallery/MobileGallery.module.css
  src/components/mobile/Gallery/MobileGallery.tsx
Due: eslint, prettier, tsc, jest

docs: complete session handoff for Issue #229 merge and closure
  SESSION_HANDOVER.md
Due: prettier

docs: complete session handoff for Issue #229 merge and closure (#232)
  SESSION_HANDOVER.md
Due: prettier

feat: enable blocking E2E tests in CI (Issue #132)
  .github/workflows/e2e-tests.yml
Due: prettier

docs: session handoff for Issue #132 completion
  SESSION_HANDOVER.md
Due: prettier

feat: enable blocking E2E tests in CI (Issue #132) (#233)
  .github/workflows/e2e-tests.yml
  SESSION_HANDOVER.md
Due: prettier

docs: Issue #200 CSP research phase complete - decision needed
  SESSION_HANDOVER.md
Due: prettier

docs: Issue #200 CSP security validation and decision documentation
  SECURITY.md
  docs/guides/SECURITY-CSP-DECISION-2025-11-19.md
  middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: complete session handoff for Issue #200 closure
  SESSION_HANDOVER.md
Due: prettier

feat: add Safari Smoke test suite for CI (Issue #211)
  .github/workflows/e2e-tests.yml
  README.md
  playwright.config.ts
Due: eslint, prettier, tsc, jest

docs: session handoff for Issue #211 Safari Smoke test implementation
  SESSION_HANDOVER.md
Due: prettier

fix: pivot Safari Smoke to ultra-minimal (5 tests only)
  .github/workflows/e2e-tests.yml
  README.md
  playwright.config.ts
Due: eslint, prettier, tsc, jest

docs: complete session handoff for Issue #211 Phase 1 (ultra-minimal Safari Smoke)
  SESSION_HANDOVER.md
Due: prettier

feat: Safari Smoke test suite for CI (Issue #211) (#235)
  .github/workflows/e2e-tests.yml
  README.md
  SESSION_HANDOVER.md
  playwright.config.ts
Due: eslint, prettier, tsc, jest

docs: session handoff for PR #235 merge and Issue #87 selection
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff for Issue #87 agent analysis
  SESSION_HANDOVER.md
Due: prettier

docs: Session 20 handoff (PR #235 merge, Issue #87 selection) (#237)
  SESSION_HANDOVER.md
Due: prettier

docs: update session handoff for Issue #229 creation and Session 14 cleanup (#230)
  SESSION_HANDOVER.md
Due: prettier

docs: Issue #200 CSP security validation and session handoff (#234)
  SECURITY.md
  SESSION_HANDOVER.md
  docs/guides/SECURITY-CSP-DECISION-2025-11-19.md
  middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Session 22 handoff - PR cleanup complete with decision matrix for Issue #87 vs #236
  SESSION_HANDOVER.md
Due: prettier

docs: Session 22 handoff - PR cleanup complete with decision matrix for Issue #87 vs #236 (#238)
  SESSION_HANDOVER.md
Due: prettier

docs: Issue #236 investigation complete - comprehensive analysis
  SESSION_HANDOVER.md
Due: prettier

perf: Remove dynamic imports and DOM polling to fix Safari gallery performance (Issue #236)
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.tsx
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/server/FirstImage.module.css
Due: eslint, prettier, tsc, jest
