Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests
  - --bail
  pass_filenames: true

jest-integration:
  name: Integration Tests
  entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
  language: system
  args:
  - --passWithNoTests
  pass_filenames: false

fix: Remove setInterval from QueryCache to prevent event loop leaks causing progressive timeouts
  src/sanity/dataFetcher.ts
Due: eslint, prettier, tsc, jest

feat: Add PM2 ecosystem configuration for production deployment
  ecosystem.config.js
Due: eslint, prettier, jest

fix: QueryCache event loop fix, PM2 config, and complete crossOrigin fixes (#281)
  SESSION_HANDOVER.md
  ecosystem.config.js
  src/sanity/dataFetcher.ts
Due: eslint, prettier, tsc, jest

docs: Update session handover with performance regression investigation
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff 2026-02-28 — production stable, architectural bug documented (#283)
  SESSION_HANDOVER.md
  ecosystem.config.js
Due: eslint, prettier, jest

docs: Session handoff 2026-02-28 — production stable, architectural bug documented
  SESSION_HANDOVER.md
  ecosystem.config.js
Due: eslint, prettier, jest

fix: replace self-referencing HTTP call with direct Sanity queries in use-project-data
  src/app/project/[slug]/hooks/__tests__/use-project-data.test.ts
  src/app/project/[slug]/hooks/use-project-data.ts
Due: eslint, prettier, tsc, jest

fix: replace self-referencing HTTP call with direct Sanity queries in use-project-data (#285)
  src/app/project/[slug]/hooks/__tests__/use-project-data.test.ts
  src/app/project/[slug]/hooks/use-project-data.ts
Due: eslint, prettier, tsc, jest

docs: session handoff 2026-02-28 — issue #284 SSR fix complete, production stable (#286)
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-02-28 — issue #284 SSR fix complete, production stable
  SESSION_HANDOVER.md
Due: prettier

chore: batch Dependabot security/minor dependency updates (Fixes #288) (#289)
  package-lock.json
  package.json
Due: prettier, jest-integration

chore: batch Dependabot security/minor dependency updates (Fixes #288)
  package-lock.json
  package.json
Due: prettier, jest-integration

docs: session handoff 2026-02-28 — issue #288 Dependabot batch complete, issue #287 Next.js 16 planned (#290)
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-02-28 — issue #288 Dependabot batch complete, issue #287 Next.js 16 planned
  SESSION_HANDOVER.md
Due: prettier

feat: upgrade Next.js 15 → 16 with security fixes (Fixes #287)
  next.config.ts
  package-lock.json
  package.json
  proxy.ts
  src/pages/api/health.js
  tests/build/middleware-compilation.test.ts
  tests/unit/middleware/auth.test.ts
  tests/unit/middleware/csp-analytics.test.ts
  tests/unit/middleware/csp-nonce.test.ts
  tsconfig.json
Due: eslint, prettier, tsc, jest, jest-integration

docs: session handoff 2026-02-28 — issue #287 Next.js 16 upgrade complete (#291)
  SESSION_HANDOVER.md
Due: prettier

fix: add .npmrc legacy-peer-deps for next-sanity/next@16 peer conflict
  .npmrc
Due: none

fix: add @testing-library/dom as explicit devDep for CI compatibility
  package-lock.json
  package.json
Due: prettier, jest-integration

fix: upgrade next-sanity to 11.6.12 (supports next@16, removes legacy-peer-deps workaround)
  .npmrc
  package-lock.json
  package.json
Due: prettier, jest-integration

fix: add --webpack flag to dev script for Next.js 16 Turbopack conflict
  package.json
Due: prettier, jest-integration

feat: upgrade Next.js 15 → 16 with security fixes (Fixes #287)
  SESSION_HANDOVER.md
  next.config.ts
  package-lock.json
  package.json
  proxy.ts
  src/pages/api/health.js
  tests/build/middleware-compilation.test.ts
  tests/unit/middleware/auth.test.ts
  tests/unit/middleware/csp-analytics.test.ts
  tests/unit/middleware/csp-nonce.test.ts
  tsconfig.json
Due: eslint, prettier, tsc, jest, jest-integration

docs: session handoff 2026-02-28 — issue #287 Next.js 16 merged (#291)
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-02-28 — issue #287 Next.js 16 merged (#292)
  SESSION_HANDOVER.md
Due: prettier

fix: prevent shell injection in branch-protection and clean node_modules in deploy (Fixes #293)
  .github/workflows/branch-protection.yml
  .github/workflows/production-deploy.yml
Due: prettier

fix: prevent shell injection in branch-protection and clean node_modules in deploy (Fixes #293) (#294)
  .github/workflows/branch-protection.yml
  .github/workflows/production-deploy.yml
Due: prettier

docs: session handoff 2026-02-28 — issue #293 CI fixes merged (#294) (#295)
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-02-28 — issue #293 CI fixes merged (#294)
  SESSION_HANDOVER.md
Due: prettier

docs: update CI status in session handover for PR #297
  SESSION_HANDOVER.md
Due: prettier

fix: move proxy.ts to src/ so Next.js 16 detects it (Fixes #296)
  src/proxy.ts
  tests/build/middleware-compilation.test.ts
  tests/unit/middleware/auth.test.ts
  tests/unit/middleware/csp-analytics.test.ts
  tests/unit/middleware/csp-nonce.test.ts
Due: eslint, prettier, tsc, jest

docs: session handoff 2026-02-28 — issue #296 proxy.ts location fix (PR #297)
  SESSION_HANDOVER.md
Due: prettier

docs: trigger CI re-run on latest HEAD for PR #297
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-02-28 — PR #297 CI green, ready to merge
  SESSION_HANDOVER.md
Due: prettier

fix: move proxy.ts to src/ so Next.js 16 detects it (Fixes #296) (#297)
  SESSION_HANDOVER.md
  src/proxy.ts
  tests/build/middleware-compilation.test.ts
  tests/unit/middleware/auth.test.ts
  tests/unit/middleware/csp-analytics.test.ts
  tests/unit/middleware/csp-nonce.test.ts
Due: eslint, prettier, tsc, jest

docs: session handoff 2026-03-01 — issue #296 proxy.ts fix merged (#297)
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-03-01 — issue #296 proxy.ts fix merged (#297) (#298)
  SESSION_HANDOVER.md
Due: prettier

fix: skip analytics smoke tests when ANALYTICS_ENABLED is not set (Fixes #299)
  .github/workflows/production-deploy.yml
  tests/e2e/production-smoke.spec.ts
Due: eslint, prettier, tsc, jest

docs: session handoff 2026-03-01 — issue #299 analytics CI fix (PR #300 open)
  SESSION_HANDOVER.md
Due: prettier

fix: skip analytics smoke tests when analytics is disabled (Fixes #299) (#300)
  .github/workflows/production-deploy.yml
  SESSION_HANDOVER.md
  tests/e2e/production-smoke.spec.ts
Due: eslint, prettier, tsc, jest

docs: session handoff 2026-03-01 — issue #299 analytics CI fix merged (#300) (#301) (#301)
  SESSION_HANDOVER.md
Due: prettier

docs: session handoff 2026-03-01 — issue #299 analytics CI fix merged (#300) (#301)
  SESSION_HANDOVER.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^scripts/dist/
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(js|jsx|ts|tsx)$
  jest-integration: any of: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
