Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests
  - --bail
  pass_filenames: true

jest-integration:
  name: Integration Tests
  entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
  language: system
  args:
  - --passWithNoTests
  pass_filenames: false

feat: Add comprehensive analytics testing and fix duplicate middleware bug
  .github/workflows/production-deploy.yml
  SESSION_HANDOVER.md
  docs/testing/analytics-test-coverage.md
  middleware.ts
  tests/build/middleware-compilation.test.ts
  tests/e2e/production-smoke.spec.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Update session handoff with comprehensive test suite completion
  SESSION_HANDOVER.md
Due: prettier

feat: Add comprehensive analytics testing and CI/CD integration (#190)
  .github/workflows/production-deploy.yml
  SESSION_HANDOVER.md
  docs/testing/analytics-test-coverage.md
  middleware.ts
  tests/build/middleware-compilation.test.ts
  tests/e2e/production-smoke.spec.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Replace Node.js crypto with Web Crypto API for Edge Runtime
  .github/workflows/production-deploy.yml
  src/middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Update session handoff for Issue #191 completion
  SESSION_HANDOVER.md
Due: prettier

fix: Edge Runtime compatibility and production-validation (#192)
  .github/workflows/production-deploy.yml
  SESSION_HANDOVER.md
  src/middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Complete session handoff for Issue #191 and Cloudflare discovery (#194)
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff for Issue #191 and Cloudflare discovery
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff - nginx CSP override discovered (#196)
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff - nginx CSP override discovered
  SESSION_HANDOVER.md
Due: prettier

fix: Move middleware to root for Next.js 15.5.4 compatibility (fixes #195)
  middleware.ts
  tests/build/middleware-compilation.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Update middleware import paths in tests
  SESSION_HANDOVER.md
  tests/unit/middleware/auth.test.ts
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest

fix: Move middleware to root for Next.js 15.5.4 compatibility (fixes #195) (#197)
  SESSION_HANDOVER.md
  middleware.ts
  tests/build/middleware-compilation.test.ts
  tests/unit/middleware/auth.test.ts
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Complete session handoff for Issue #195 resolution
  SESSION_HANDOVER.md
Due: prettier

fix: Convert OptimizedImage to CSS modules for CSP compliance
  src/components/ui/OptimizedImage.module.css
  src/components/ui/OptimizedImage.tsx
Due: eslint, prettier, tsc, jest

fix: Convert Gallery components to CSS modules for CSP compliance
  src/components/desktop/Gallery/Gallery.module.css
  src/components/desktop/Gallery/Gallery.tsx
  src/components/mobile/Gallery/MobileGalleryItem.module.css
  src/components/mobile/Gallery/MobileGalleryItem.tsx
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #198 CSP violation fix
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for Issue #198 CSP investigation
  SESSION_HANDOVER.md
Due: prettier

fix: Eliminate user-code CSP inline style violations (Issue #198)
  src/app/components/critical-css-provider.tsx
  src/components/adaptive/Gallery/index.module.css
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.module.css
  src/components/desktop/Gallery/Gallery.tsx
  src/components/desktop/Header/DesktopHeader.module.css
  src/components/desktop/Header/DesktopHeader.tsx
  src/components/server/FirstImage.module.css
  src/components/server/FirstImage.tsx
  src/components/ui/ImageNoStyle.tsx
  src/components/ui/NavigationArrows.module.css
  src/components/ui/NavigationArrows.tsx
  src/components/ui/OptimizedImage.module.css
  src/components/ui/OptimizedImage.tsx
  tests/e2e/utilities/csp-diagnostic.spec.ts
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #198 CSP investigation complete
  SESSION_HANDOVER.md
Due: prettier

fix: Resolve CI failures - Jest act() warnings and CriticalCSS hydration
  src/app/components/critical-css-provider.tsx
  src/components/ui/__tests__/OptimizedImage.test.tsx
Due: eslint, prettier, tsc, jest

test: Update OptimizedImage tests for CSS module classes
  src/components/ui/__tests__/OptimizedImage.test.tsx
Due: eslint, prettier, tsc, jest

test: Fix integration test for CSS module classes
  tests/integration/optimized-image-integration.test.tsx
Due: eslint, prettier, tsc, jest

test: Filter framework CSP violations in E2E error checking
  tests/e2e/analytics-integration.spec.ts
Due: eslint, prettier, tsc, jest

fix: Eliminate user-code CSP inline style violations (Issue #198)
  SESSION_HANDOVER.md
  src/app/components/critical-css-provider.tsx
  src/components/adaptive/Gallery/index.module.css
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.module.css
  src/components/desktop/Gallery/Gallery.tsx
  src/components/desktop/Header/DesktopHeader.module.css
  src/components/desktop/Header/DesktopHeader.tsx
  src/components/mobile/Gallery/MobileGalleryItem.module.css
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/server/FirstImage.module.css
  src/components/server/FirstImage.tsx
  src/components/ui/ImageNoStyle.tsx
  src/components/ui/NavigationArrows.module.css
  src/components/ui/NavigationArrows.tsx
  src/components/ui/OptimizedImage.module.css
  src/components/ui/OptimizedImage.tsx
  src/components/ui/__tests__/OptimizedImage.test.tsx
  tests/e2e/analytics-integration.spec.ts
  tests/e2e/utilities/csp-diagnostic.spec.ts
  tests/integration/optimized-image-integration.test.tsx
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #198 completion and PR #201 merge
  SESSION_HANDOVER.md
Due: prettier

fix: Eliminate FCP test race condition (Fixes #202)
  tests/e2e/analytics-integration.spec.ts
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #202 completion and PR #203
  SESSION_HANDOVER.md
Due: prettier

fix: Add unsafe-inline to CSP script-src for Next.js compatibility
  middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Remove CSP nonces to allow unsafe-inline
  middleware.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Add production emergency CSP resolution to handoff
  SESSION_HANDOVER.md
Due: prettier

test: Update CSP test to reflect unsafe-inline (no nonces)
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest

fix: Eliminate FCP test race condition (Fixes #202) (#203)
  SESSION_HANDOVER.md
  middleware.ts
  tests/e2e/analytics-integration.spec.ts
  tests/unit/middleware/csp-analytics.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Session handoff for CSP research completion and Issue #204 creation (#205)
  SESSION_HANDOVER.md
Due: prettier

docs: Session handoff for CSP research completion and Issue #204 creation
  SESSION_HANDOVER.md
Due: prettier

feat: Implement strict nonce-based CSP for App Router (Issue #204)
  middleware.ts
  src/app/components/critical-css-provider.tsx
  src/app/components/critical-css.tsx
  src/app/layout.tsx
  src/app/metadata/structured-data.tsx
  tests/performance/fcp-validation.test.ts
  tests/unit/middleware/csp-analytics.test.ts
  tests/unit/middleware/csp-nonce.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Add nonce to dynamically created scripts and inline styles
  src/app/components/analytics-provider.tsx
  src/app/components/critical-css.tsx
  src/app/components/deferred-css-loader.tsx
  src/app/layout.tsx
Due: eslint, prettier, tsc, jest

docs: Session handoff for Issue #204 completion
  SESSION_HANDOVER.md
Due: prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^scripts/dist/
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(js|jsx|ts|tsx)$
  jest-integration: any of: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
