Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

.pre-commit-config.yaml:

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        exclude: ^scripts/dist/
        args: [--fix]

      # Prettier formatting
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
        args: [--write]

      # TypeScript type checking
      - id: tsc
        name: TypeScript Check
        entry: npx tsc
        language: system
        files: \.(ts|tsx)$
        args: [--noEmit]
        pass_filenames: false

      # Run all tests except those requiring production build
      - id: jest
        name: Jest Tests
        entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--findRelatedTests, --passWithNoTests, --bail]
        pass_filenames: true

      # Run critical integration tests that might be affected by config changes
      - id: jest-integration
        name: Integration Tests
        entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
        language: system
        files: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
        args: [--passWithNoTests]
        pass_filenames: false

  # CSS/Tailwind specific
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-tailwindcss@0.5.7
        files: \.(css|scss)$

fix: remove hardcoded Sanity project ID fallbacks
  pages/api/health.js
  sanity.config.ts
  src/sanity/config.ts
  src/utils/image-helpers.ts
Due: eslint, prettier, tsc, jest

chore: clean build artifacts and update gitignore
  .bundle-history.json
  .gitignore
Due: prettier

docs: add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: prettier

docs: add CODEOWNERS file for PR routing
  .github/CODEOWNERS
Due: none

feat: add CSP violation reporting endpoint
  src/app/api/csp-report/route.ts
Due: eslint, prettier, tsc, jest

docs: add session handoff for issues #111-#117
  SESSION_HANDOVER.md
Due: prettier

ci: add Sanity env vars for CI builds
  .github/workflows/performance-budget.yml
Due: prettier

fix: replace placeholder emails in SECURITY.md (#111)
  SECURITY.md
Due: prettier

fix: remove hardcoded Sanity IDs (#112)
  .github/workflows/performance-budget.yml
  pages/api/health.js
  sanity.config.ts
  src/sanity/config.ts
  src/utils/image-helpers.ts
Due: eslint, prettier, tsc, jest

chore: clean build artifacts (#115)
  .bundle-history.json
  .gitignore
Due: prettier

docs: add CODE_OF_CONDUCT.md (#116)
  CODE_OF_CONDUCT.md
Due: prettier

docs: add CODEOWNERS file (#117)
  .github/CODEOWNERS
Due: none

feat: add CSP reporting endpoint (#114)
  src/app/api/csp-report/route.ts
Due: eslint, prettier, tsc, jest

docs: session handoff (#111-#117)
  SESSION_HANDOVER.md
Due: prettier

docs: Complete public launch preparation (Phase 2-3) (#108)
  playwright-report/index.html
  src/app/api/projects/route.ts
  src/app/project/[slug]/hooks/use-project-data.ts
Due: eslint, prettier, tsc, jest

fix: guard debug console statements (#113)
  playwright-report/index.html
  src/app/api/projects/route.ts
  src/app/project/[slug]/hooks/use-project-data.ts
Due: eslint, prettier, tsc, jest

fix: properly activate nvm for Node v22 in production deployment
  .github/workflows/production-deploy.yml
Due: prettier

fix: properly activate nvm for Node v22 in production
  .github/workflows/production-deploy.yml
Due: prettier

fix: always run npm ci in production deployments
  .github/workflows/production-deploy.yml
Due: prettier

fix: always run npm ci in production deployments (#129)
  .github/workflows/production-deploy.yml
Due: prettier

docs: update session handoff after deployment fix completion (#130)
  SESSION_HANDOVER.md
Due: prettier

docs: update session handoff after deployment fix completion
  SESSION_HANDOVER.md
Due: prettier

feat: add E2E tests to CI pipeline
  .github/workflows/e2e-tests.yml
  README.md
Due: prettier

refactor: add concurrency control and timeout to E2E workflow
  .github/workflows/e2e-tests.yml
Due: prettier

docs: update session handoff after E2E CI integration
  SESSION_HANDOVER.md
Due: prettier

fix: add required Sanity environment variables to E2E workflow
  .github/workflows/e2e-tests.yml
Due: prettier

fix: add ARIA labels and test-ids for E2E accessibility tests
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.tsx
Due: eslint, prettier, tsc, jest

fix: make E2E tests non-blocking for unimplemented features
  .github/workflows/e2e-tests.yml
Due: prettier

feat: add E2E tests to CI pipeline (#131)
  .github/workflows/e2e-tests.yml
  README.md
  SESSION_HANDOVER.md
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.tsx
Due: eslint, prettier, tsc, jest

feat: add Codecov integration for PR coverage reporting
  .github/workflows/unit-tests.yml
  codecov.yml
Due: prettier

fix: exclude build-dependent tests from unit test workflow
  jest.config.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Issue #119 completion
  SESSION_HANDOVER.md
Due: prettier

feat: Add coverage reporting to PRs (#133)
  .github/workflows/unit-tests.yml
  SESSION_HANDOVER.md
  codecov.yml
  jest.config.ts
Due: eslint, prettier, tsc, jest

docs: complete session handoff for Issue #119 coverage reporting
  SESSION_HANDOVER.md
Due: prettier

feat: add secret scanning workflow
  .github/workflows/secret-scan.yml
  .gitleaks.toml
Due: prettier

fix: update gitleaks allowlist for false positives
  .gitleaks.toml
Due: none

feat: add secret scanning workflow (#134)
  .github/workflows/secret-scan.yml
  .gitleaks.toml
  SESSION_HANDOVER.md
Due: prettier

docs: complete session handoff for Issue #132 planning phase
  SESSION_HANDOVER.md
  docs/implementation/ISSUE-132-E2E-FEATURE-IMPLEMENTATION-2025-11-04.md
Due: prettier
