Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-size|production-config|bundle-debug"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests

docs: add GitHub commit template and mandatory phase documentation
  CLAUDE.md
  docs/templates/github-commit-template.md
Due: prettier

fix: resolve thumbnail positioning issue on MacBook 13-inch displays
  src/styles/desktop/project.css
Due: prettier

refactor: improve thumbnail positioning fix for better UX consistency
  src/styles/desktop/project.css
Due: prettier

feat: add environment-specific memory configurations for builds
  docs/BUILD_ENVIRONMENTS.md
  package.json
  scripts/deploy-production.sh
Due: prettier

fix: resolve Safari compatibility issues across web application
  docs/implementation/PDR-safari-compatibility-2025-01-17.md
  docs/implementation/PHASE-SAFARI-COMPATIBILITY-2025-01-17.md
  logs/credential-access.log
  middleware.ts
  next.config.ts
  playwright.config.ts
  src/app/globals.css
  src/components/forms/ContactForm.tsx
  src/components/mobile/Header/MobileMenu.tsx
  src/styles/mobile/header.css
  tests/integration/real-contact-form.test.tsx
Due: eslint, prettier, tsc, jest

fix: enhance pre-commit hooks to catch test failures
  .pre-commit-config.yaml
  logs/credential-access.log
  src/components/forms/__tests__/ContactForm.test.tsx
  tests/integration/bundle-optimization.test.ts
Due: eslint, prettier, tsc, jest

docs: organize documentation and prepare for new feature development
  README.md
  docs/archive/2025-01-frontend-ux/PDR-Frontend-UX-Refinements-2025-01-15.md
  docs/archive/2025-01-frontend-ux/PRD-Frontend-UX-Refinements-2025-01-15.md
  docs/archive/2025-01-safari-compatibility/PDR-safari-compatibility-2025-01-17.md
  docs/archive/2025-01-safari-compatibility/PHASE-SAFARI-COMPATIBILITY-2025-01-17.md
  docs/archive/2025-01-safari-compatibility/README.md
  docs/archive/2025-01-sessions/BUNDLE-ISSUE-NEXT-SESSION.md
  docs/archive/2025-01-sessions/CI-CD-PIPELINE-FIX-SESSION.md
  docs/archive/2025-01-sessions/SESSION-SUMMARY-2025-09-16.md
  docs/archive/2025-09-security/PDR-security-enhancements-2025-09-13.md
  docs/archive/2025-09-security/PRD-security-enhancements-2025-09-13.md
  docs/implementation/DEV-ENVIRONMENT-STATUS-2025-01-17.md
  docs/implementation/PROJECT-ROADMAP-2025.md
  logs/credential-access.log
Due: prettier

feat: implement comprehensive bundle size optimization
  analyze-bundle.js
  docs/implementation/BUNDLE-OPTIMIZATION-REPORT-2025-09-17.md
  logs/credential-access.log
  next.config.ts
  package.json
  public/apple-touch-icon.png
  public/apple-touch-icon.webp
  public/icon-192x192.png
  public/icon-192x192.webp
  public/icon-512x512.png
  public/icon-512x512.webp
  public/icon-96x96.png
  public/icon-96x96.webp
  public/icon.svg
  scripts/optimize-images.js
  src/app/studio/[[...tool]]/loading.tsx
  src/app/studio/[[...tool]]/page.tsx
  src/components/adaptive/Gallery/index.tsx
  src/components/ui/DynamicOptimizedImage.tsx
  src/components/ui/OptimizedImage.tsx
  src/components/ui/ResponsiveImage.tsx
  src/sanity/client.ts
  src/sanity/studio-client.ts
  src/types/textile.ts
  src/utils/image-helpers.ts
Due: eslint, prettier, tsc

style: format OptimizedImage component with prettier
  src/components/ui/OptimizedImage.tsx
Due: eslint, prettier, tsc

fix: update bundle tests to match optimized configuration
  tests/integration/bundle-optimization.test.ts
  tests/performance/bundle-size.test.ts
Due: eslint, prettier, tsc, jest

Revert "fix: update bundle tests to match optimized configuration"
  tests/integration/bundle-optimization.test.ts
  tests/performance/bundle-size.test.ts
Due: eslint, prettier, tsc, jest

feat: add proper performance validation tests that prove bundle optimization
  next.config.ts
  package.json
  tests/integration/bundle-optimization.test.ts
  tests/performance/first-load-performance.test.ts
  tests/performance/validate-optimization.test.ts
Due: eslint, prettier, tsc, jest

docs: update README with 83% bundle optimization achievements
  README.md
Due: prettier

fix: update bundle size test limits to reflect webpack optimization reality
  __tests__/deployment/production-config.test.js
  tests/performance/bundle-size.test.ts
Due: eslint, prettier, tsc, jest

fix: update bundle size test limits to reflect webpack optimization reality
  SESSION-SUMMARY.md
Due: prettier

chore: remove inappropriate documentation files from project root
  NEXT_SESSION_PROMPT.md
  SESSION-SUMMARY.md
  analysis_request.md
Due: prettier

feat: implement resource prioritization with preconnect, prefetch and priority hints
  docs/implementation/PDR-performance-optimization-phase2-2025-01-18.md
  docs/implementation/PRD-performance-optimization-phase2-2025-01-18.md
  src/app/components/html-head.tsx
  src/components/ui/OptimizedImage.tsx
  tests/performance/resource-prioritization.test.ts
Due: eslint, prettier, tsc, jest

docs: complete Phase 2A Day 1-2 documentation with checkmarks and session summary
  docs/implementation/PDR-performance-optimization-phase2-2025-01-18.md
  docs/implementation/PHASE-2A-DAY1-2-COMPLETION-SUMMARY-2025-01-18.md
Due: prettier

feat: implement critical CSS extraction for 300-400ms FCP improvement
  src/app/components/critical-css.tsx
  src/styles/critical/critical.css
  src/styles/critical/deferred.css
  tests/performance/critical-css.test.ts
  tests/performance/fcp-measurement.json
Due: eslint, prettier, tsc, jest

feat: complete Phase 2A Day 3-4 critical CSS integration
  docs/implementation/PDR-performance-optimization-phase2-2025-01-18.md
  public/styles/critical/deferred.css
  src/app/layout.tsx
  tests/performance/fcp-validation.test.ts
Due: eslint, prettier, tsc, jest

docs: complete Phase 2A Day 3-4 documentation
  docs/implementation/PDR-performance-optimization-phase2-2025-01-18.md
  docs/implementation/PHASE-2A-DAY3-4-COMPLETION-SUMMARY-2025-01-18.md
Due: prettier

feat: implement Phase 2A Day 5 image & font optimization for 100-200ms improvement
  docs/implementation/PHASE-2A-DAY5-COMPLETION-SUMMARY-2025-01-18.md
  logs/credential-access.log
  public/fonts/inter-400.woff2
  public/fonts/inter-500.woff2
  public/fonts/noto-sans-400.woff2
  src/app/layout.tsx
  src/components/fonts/FontPreloader.tsx
  src/components/ui/EnhancedOptimizedImage.tsx
  src/styles/fonts/optimized-fonts.css
  src/utils/font-optimization.ts
  src/utils/image-optimization.ts
  src/utils/performance-measurement.ts
  tests/performance/image-font-optimization.test.ts
  tests/python/__pycache__/test_main.cpython-313-pytest-8.4.2.pyc
Due: eslint, prettier, tsc, jest

feat: implement Phase 2B Day 1-2 progressive hydration for 300-500ms TTI improvement
  SESSION-HANDOFF.md
  docs/implementation/PHASE-2A-DAY5-COMPLETION-SUMMARY-2025-01-18.md
  package.json
  src/app/components/critical-css-provider.tsx
  src/app/components/critical-css.tsx
  src/app/components/deferred-css-loader.tsx
  src/components/hydration/DeferredHydration.tsx
  src/components/hydration/HydrationBoundary.tsx
  src/components/hydration/index.ts
  src/components/hydration/types.ts
  src/components/hydration/useProgressiveHydration.ts
  src/utils/performance-measurement.ts
  src/utils/progressive-hydration.ts
  tests/performance/progressive-hydration.test.ts
Due: eslint, prettier, tsc, jest

feat: implement Phase 2B Day 3-4 advanced code splitting for 186ms TTI improvement
  SESSION-HANDOFF.md
  docs/implementation/PHASE-2B-DAY1-2-COMPLETION-SUMMARY-2025-09-18.md
  docs/implementation/PHASE-2B-DAY3-4-COMPLETION-SUMMARY-2025-09-18.md
  logs/credential-access.log
  playwright-report/index.html
  src/components/lazy/LazyContactForm.tsx
  src/components/lazy/LazyGallery.tsx
  src/components/project/ProjectDetails.tsx
  src/components/routes/ProjectRoute.tsx
  src/components/security/LazySecurityDashboard.tsx
  src/utils/advanced-code-splitting.ts
  src/utils/code-splitting.ts
  tests/performance/advanced-code-splitting.test.ts
Due: eslint, prettier, tsc, jest

fix: resolve ESLint unused variables in service worker implementation
  README.md
  SESSION-HANDOFF.md
  docs/implementation/PHASE-2B-DAY5-SERVICE-WORKER-COMPLETION-2025-09-18.md
  public/sw.js
  src/utils/background-sync.ts
  src/utils/bundle-analysis.ts
  src/utils/cache-analytics.ts
  src/utils/cache-strategies.ts
  src/utils/chunk-prefetching.ts
  src/utils/offline-capabilities.ts
  src/utils/performance-validation.ts
  src/utils/progressive-hydration.ts
  src/utils/repeat-visit-metrics.ts
  src/utils/request-sanitizer.ts
  src/utils/response-sanitizer.ts
  src/utils/safari-performance.ts
  src/utils/sanity-cache.ts
  src/utils/service-worker-error-boundary.ts
  src/utils/service-worker-registration.ts
  src/utils/service-worker-security.ts
  tests/performance/service-worker.test.ts
Due: eslint, prettier, tsc, jest

fix: critical security and type safety issues in service worker
  public/sw.js
  src/utils/background-sync.ts
  src/utils/bundle-analysis.ts
  src/utils/cache-strategies.ts
  src/utils/chunk-prefetching.ts
  src/utils/service-worker-registration.ts
  src/utils/service-worker-security.ts
  tests/performance/service-worker.test.ts
Due: eslint, prettier, tsc, jest

feat: complete service worker integration with progressive hydration
  src/utils/chunk-prefetching.ts
  src/utils/progressive-hydration.ts
  src/utils/request-sanitizer.ts
  src/utils/service-worker-registration.ts
  tests/performance/service-worker.test.ts
Due: eslint, prettier, tsc, jest

docs: comprehensive session handoff and implementation documentation
  README.md
  docs/implementation/IMPLEMENTATION-PROGRESS-UPDATE-2025-09-19.md
  docs/implementation/NEXT-STEPS-PRIORITIES-2025-09-19.md
  docs/implementation/PHASE-2B-DAY5-REFACTOR-COMPLETION-2025-09-19.md
  docs/implementation/SESSION-HANDOFF-2025-09-19.md
Due: prettier

docs: archive superseded Phase 2B Day 5 service worker completion document
  docs/implementation/archive/README.md
  docs/implementation/archive/phase-2b-progression/PHASE-2B-DAY5-SERVICE-WORKER-COMPLETION-2025-09-18.md
Due: prettier

feat: implement Phase 2C Day 1 performance monitoring infrastructure
  .github/workflows/lighthouse-ci.yml
  CLAUDE.md
  docs/implementation/PHASE-2C-DAY1-MONITORING-2025-09-19.md
  lighthouserc.js
  logs/credential-access.log
  src/types/performance.ts
  src/utils/performance-dashboard.ts
  src/utils/performance-monitoring.ts
  src/utils/web-vitals-tracker.ts
  tests/performance/monitoring.test.ts
Due: eslint, prettier, tsc, jest

refactor: replace complex Jest mocks with simple integration tests
  src/utils/performance-dashboard.ts
  src/utils/performance-monitoring.ts
  src/utils/web-vitals-tracker.ts
  tests/performance/monitoring-integration.test.ts
  tests/performance/monitoring.test.ts
Due: eslint, prettier, tsc, jest

docs: improve integration test documentation
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

docs: add comprehensive session handoff for Phase 2C continuation
  CLAUDE.md
  docs/implementation/SESSION-HANDOFF-PHASE2C-2025-09-19.md
Due: prettier

feat: implement Phase 2C Day 2 comprehensive security hardening
  middleware.ts
  src/app/api/performance/route.ts
  src/utils/bundle-analysis.ts
  src/utils/cache-strategies.ts
  src/utils/offline-capabilities.ts
  src/utils/performance-monitoring.ts
  src/utils/performance-security.ts
  src/utils/rate-limit.ts
  tests/security/api-security.test.ts
  tests/security/middleware-security.test.ts
  tests/security/performance-security.test.ts
Due: eslint, prettier, tsc, jest

docs: complete Phase 2C Day 2 session handoff documentation
  CLAUDE.md
  docs/implementation/PHASE2C-DAY2-SECURITY-HARDENING-2025-09-19.md
  docs/implementation/SESSION-HANDOFF-PHASE2C-2025-09-19.md
Due: prettier

feat: implement Phase 2C Day 3 advanced Core Web Vitals optimizations
  CLAUDE.md
  chromewebdata_2025-09-20_08-32-16.report.html
  next.config.ts
  public/fonts/inter-500.woff2
  public/fonts/noto-sans-400.woff2
  public/fonts/public/fonts/inter-400.woff2
  public/fonts/public/fonts/inter-500.woff2
  src/components/lazy/LazyGallery.tsx
  src/styles/critical/critical.css
Due: eslint, prettier, tsc

docs: complete Phase 2C Day 3 documentation and Day 4 preparation
  CLAUDE.md
  docs/implementation/PHASE2C-DAY3-CORE-WEB-VITALS-2025-09-20.md
  docs/implementation/PHASE2C-DAY4-PERFORMANCE-BUDGET-ENFORCEMENT-PREPARATION-2025-09-20.md
  docs/implementation/SESSION-HANDOFF-PHASE2C-2025-09-19.md
Due: prettier

feat: implement Phase 2C Day 4 - Performance Budget Enforcement
  .github/workflows/performance-budget.yml
  lighthouserc.advanced.js
  package.json
  scripts/bundle-size-check.js
  scripts/performance-regression-check.js
  src/utils/bundle-monitor.ts
  src/utils/performance-budget.ts
  src/utils/regression-detection.ts
  tests/performance-budget/budget-enforcement.test.ts
Due: eslint, prettier, tsc, jest

feat: complete Phase 2C Day 5 final validation and delivery system
  .pre-commit-config.yaml
  CLAUDE.md
  docs/implementation/PERFORMANCE-TESTING-README.md
  docs/implementation/PHASE-2C-COMPLETE-2025-09-22.md
  docs/implementation/PHASE2C-DAY5-FINAL-VALIDATION-2025-09-22.md
  eslint.config.mjs
  jest.setup.ts
  logs/credential-access.log
  package.json
  scripts/dist/scripts/e2e-performance-validation.js
  scripts/dist/scripts/real-world-validation.js
  scripts/dist/src/types/performance.js
  scripts/dist/src/utils/bundle-monitor.js
  scripts/dist/src/utils/e2e-performance-validator.js
  scripts/dist/src/utils/performance-budget.js
  scripts/dist/src/utils/performance-dashboard.js
  scripts/dist/src/utils/performance-monitoring.js
  scripts/dist/src/utils/real-world-performance-validator.js
  scripts/dist/src/utils/regression-detection.js
  scripts/dist/src/utils/web-vitals-tracker.js
  scripts/e2e-performance-validation.ts
  scripts/real-world-validation.ts
  scripts/simple-validation.js
  src/utils/e2e-performance-validator.ts
  src/utils/real-world-performance-validator.ts
  tests/performance/critical-css.test.ts
  tests/performance/fcp-validation.test.ts
Due: eslint, prettier, tsc, jest

fix: resolve critical CSS test failures and remove pre-commit exclusions
  .pre-commit-config.yaml
  tests/performance/critical-css.test.ts
Due: eslint, prettier, tsc, jest

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(test|spec)\.(js|jsx|ts|tsx)$
