Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

.pre-commit-config.yaml:

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        exclude: ^scripts/dist/
        args: [--fix]

      # Prettier formatting
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
        args: [--write]

      # TypeScript type checking
      - id: tsc
        name: TypeScript Check
        entry: npx tsc
        language: system
        files: \.(ts|tsx)$
        args: [--noEmit]
        pass_filenames: false

      # Run all tests except those requiring production build
      - id: jest
        name: Jest Tests
        entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--findRelatedTests, --passWithNoTests, --bail]
        pass_filenames: true

      # Run critical integration tests that might be affected by config changes
      - id: jest-integration
        name: Integration Tests
        entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
        language: system
        files: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
        args: [--passWithNoTests]
        pass_filenames: false

  # CSS/Tailwind specific
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-tailwindcss@0.5.7
        files: \.(css|scss)$

fix: Add pull-request write permissions to CI workflows
  .github/workflows/lighthouse-ci.yml
  .github/workflows/performance-budget.yml
Due: prettier

fix: Restore project page appearance and fix critical bugs
  src/app/components/html-head.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/project/[slug]/components/project-content.tsx
  src/components/Gallery.module.css
  src/components/Gallery.tsx
  src/components/adaptive/Project/index.tsx
  src/components/desktop/Project/DesktopImageCarousel.tsx
  src/components/desktop/Project/DesktopProjectDetails.tsx
  src/components/desktop/Project/DesktopProjectNavigation.tsx
  src/components/desktop/Project/DesktopProjectView.tsx
  src/components/desktop/Project/index.ts
  src/components/mobile/Project/ImageBlock.tsx
  src/components/mobile/Project/MobileImageStack.tsx
  src/components/mobile/Project/MobileProjectDetails.tsx
  src/components/mobile/Project/MobileProjectNavigation.tsx
  src/components/mobile/Project/MobileProjectView.tsx
  src/components/mobile/Project/index.ts
  src/lib/scrollManager.ts
  tests/integration/real-gallery-navigation.test.tsx
Due: eslint, prettier, tsc, jest

fix: Restore keyboard navigation and scroll position restoration
  src/components/Gallery.tsx
  src/hooks/desktop/useKeyboardNavigation.ts
Due: eslint, prettier, tsc, jest

docs: Add session handoff for Issue #50 completion
  CLAUDE.md
  docs/implementation/SESSION-HANDOFF-ISSUE-50-COMPLETION-2025-10-05.md
Due: prettier

fix: Use manifest.json for Lighthouse results parsing in performance budget workflow
  .github/workflows/performance-budget.yml
Due: prettier

fix: Use lhci collect instead of autorun to avoid double-build
  .github/workflows/performance-budget.yml
Due: prettier

fix: Add simplified Lighthouse CI config without server autostart
  .github/workflows/performance-budget.yml
  lighthouserc.ci.js
Due: eslint, prettier, jest

fix: Remove invalid 'preset' parameter from lhci collect
  .github/workflows/performance-budget.yml
Due: prettier

fix: Parse LHR JSON files directly instead of using manifest.json
  .github/workflows/performance-budget.yml
  lighthouserc.ci.js
Due: eslint, prettier, jest

fix: Lighthouse Budget workflow results parsing
  .github/workflows/performance-budget.yml
  lighthouserc.ci.js
Due: eslint, prettier, jest

chore: Add development workflow files to .gitignore
  .gitignore
Due: none

chore: Remove CLAUDE.md from repository
  CLAUDE.md
Due: prettier

chore: Remove SESSION-HANDOFF.md from repository
  SESSION-HANDOFF.md
Due: prettier

chore: Add build outputs, logs, and credentials to .gitignore
  .gitignore
  __pycache__/main.cpython-313.pyc
  credentials/encrypted.gpg
  dist/types/performance.js
  dist/utils/performance-monitoring.js
  logs/credential-access.log
Due: eslint, prettier, jest

fix: Update monitoring test to handle CI environment overrides
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

fix: Production deployment test failures - environment-aware Lighthouse thresholds
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

fix: Update security-monitoring workflow to use actions/upload-artifact@v4
  .github/workflows/security-monitoring.yml
Due: prettier

fix: Update security-monitoring workflow to use actions/upload-artifact@v4 (#65)
  .github/workflows/security-monitoring.yml
Due: prettier

docs: Add session handoff for Issue #63 completion
  SESSION-HANDOFF.md
Due: prettier

chore: Update .gitignore and remove session/handoff files from tracking
  .gitignore
  SESSION-HANDOFF.md
  docs/archive/2025-01-frontend-ux/PDR-Frontend-UX-Refinements-2025-01-15.md
  docs/archive/2025-01-frontend-ux/PRD-Frontend-UX-Refinements-2025-01-15.md
  docs/archive/2025-01-safari-compatibility/PDR-safari-compatibility-2025-01-17.md
  docs/archive/2025-01-safari-compatibility/PHASE-SAFARI-COMPATIBILITY-2025-01-17.md
  docs/archive/2025-01-safari-compatibility/README.md
  docs/archive/2025-01-sessions/BUNDLE-ISSUE-NEXT-SESSION.md
  docs/archive/2025-01-sessions/CI-CD-PIPELINE-FIX-SESSION.md
  docs/archive/2025-01-sessions/SESSION-SUMMARY-2025-09-16.md
  docs/archive/2025-09-optimization/E2E-TESTING-SETUP.md
  docs/archive/2025-09-optimization/PDR-textile-showcase-optimization-2025-09-10.md
  docs/archive/2025-09-optimization/PHASE1-SECURITY-CHECKLIST.md
  docs/archive/2025-09-optimization/SECURITY-TESTS-SUMMARY.md
  docs/archive/2025-09-optimization/github-issue-textile-showcase-optimization-pdr.md
  docs/archive/2025-09-security/PDR-security-enhancements-2025-09-13.md
  docs/archive/2025-09-security/PRD-security-enhancements-2025-09-13.md
  docs/archive/README.md
  docs/archive/reports/OPTIMIZATION-STATUS-2025-09-11.md
  docs/archive/reports/PRODUCTION-DEPLOYMENT-ROADMAP-2025-09-13.md
  docs/archive/reports/SECURITY-ENHANCEMENT-STATUS-2025-09-13.md
  docs/archive/reports/SEO-IMPLEMENTATION-REPORT.md
  docs/archive/sessions/SESSION-COMPLETE-Frontend-UX-TDD-2025-01-15.md
  docs/archive/sessions/SESSION-COMPLETION-2025-09-14.md
  docs/archive/sessions/SESSION-HANDOFF-2025-09-13.md
  docs/archive/sessions/SESSION-HANDOFF-2025-09-14.md
  docs/archive/sessions/SESSION-STATUS-TDD-Implementation-2025-01-13.md
Due: prettier

chore: Add branch protection rules via GitHub Actions (#66)
  .github/workflows/branch-protection.yml
Due: prettier

chore: Add branch protection rules via GitHub Actions
  .github/workflows/branch-protection.yml
Due: prettier

fix: Remove overly strict 'skip.*hook' pattern from commit validation
  .github/workflows/branch-protection.yml
Due: prettier

fix: Remove overly strict 'skip.*hook' pattern from commit validation (#68)
  .github/workflows/branch-protection.yml
Due: prettier

fix: Simplify branch protection to only block direct pushes to master
  .github/workflows/branch-protection.yml
Due: prettier

fix: Add back commit quality check with corrected grep syntax
  .github/workflows/branch-protection.yml
Due: prettier

fix: Skip commit validation when workflow file is modified
  .github/workflows/branch-protection.yml
Due: prettier

fix: Simplify branch protection to only block direct pushes (#69)
  .github/workflows/branch-protection.yml
Due: prettier

fix: Eliminate CLS regression from Phase 2 LCP optimization
  .pre-commit-config.yaml
  src/components/Gallery.tsx
  src/components/server/FirstImage.tsx
  tsconfig.json
Due: eslint, prettier, tsc, jest, jest-integration

fix: Eliminate CLS regression from Phase 2 LCP optimization (#67)
  .pre-commit-config.yaml
  src/components/Gallery.tsx
  src/components/server/FirstImage.tsx
  tsconfig.json
Due: eslint, prettier, tsc, jest, jest-integration

fix: Update block-direct-push to recognize squash merge commits
  .github/workflows/branch-protection.yml
Due: prettier

fix: Update block-direct-push to recognize squash merge commits (#70)
  .github/workflows/branch-protection.yml
Due: prettier

fix: Escape dollar sign in regex pattern for bash compatibility
  .github/workflows/branch-protection.yml
Due: prettier

fix: Escape dollar sign in regex pattern for bash compatibility (#71)
  .github/workflows/branch-protection.yml
Due: prettier

fix: Use pattern variables for bash regex compatibility
  .github/workflows/branch-protection.yml
Due: prettier

fix: Use pattern variables for bash regex compatibility (#72)
  .github/workflows/branch-protection.yml
Due: prettier

fix: Check only first line of commit message for PR number
  .github/workflows/branch-protection.yml
Due: prettier

fix: Check only first line of commit message for PR number (#73)
  .github/workflows/branch-protection.yml
Due: prettier
