Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

.pre-commit-config.yaml:

repos:
  # General code quality hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

  # TypeScript/JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        files: \.(js|jsx|ts|tsx)$
        exclude: ^scripts/dist/
        args: [--fix]

      # Prettier formatting
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
        args: [--write]

      # TypeScript type checking
      - id: tsc
        name: TypeScript Check
        entry: npx tsc
        language: system
        files: \.(ts|tsx)$
        args: [--noEmit]
        pass_filenames: false

      # Run all tests except those requiring production build
      - id: jest
        name: Jest Tests
        entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
        language: system
        files: \.(js|jsx|ts|tsx)$
        args: [--findRelatedTests, --passWithNoTests, --bail]
        pass_filenames: true

      # Run critical integration tests that might be affected by config changes
      - id: jest-integration
        name: Integration Tests
        entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
        language: system
        files: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
        args: [--passWithNoTests]
        pass_filenames: false

  # CSS/Tailwind specific
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.1.0
          - prettier-plugin-tailwindcss@0.5.7
        files: \.(css|scss)$

Remove 2MB bloated icon.svg with embedded JPEG
  public/icon.svg
  src/app/metadata/base-metadata.ts
Due: eslint, prettier, tsc, jest

Fix agent-identified issues from code quality review
  public/manifest.json
  scripts/optimize-images.js
Due: eslint, prettier, jest

Remove 2MB bloated icon.svg with embedded JPEG (#88)
  public/icon.svg
  public/manifest.json
  scripts/optimize-images.js
  src/app/metadata/base-metadata.ts
Due: eslint, prettier, tsc, jest

fix: Move Sanity project ID to GitHub Secrets
  .github/workflows/lighthouse-ci.yml
  .github/workflows/production-deploy.yml
Due: prettier

fix: Move Sanity project ID to GitHub Secrets (#89)
  .github/workflows/lighthouse-ci.yml
  .github/workflows/production-deploy.yml
Due: prettier

feat: Optimize LCP from 14.9s to <2.5s target (Issue #78)
  src/app/page.tsx
  src/components/server/FirstImage.tsx
  src/utils/image-helpers.ts
Due: eslint, prettier, tsc, jest

feat: Optimize LCP from 14.9s to <2.5s target (Issue #78) (#90)
  src/app/page.tsx
  src/components/server/FirstImage.tsx
  src/utils/image-helpers.ts
Due: eslint, prettier, tsc, jest

test: Add comprehensive unit tests for OptimizedImage component (Phase 0)
  src/components/ui/__tests__/OptimizedImage.test.tsx
Due: eslint, prettier, tsc, jest

refactor: Consolidate image components into single OptimizedImage (Issue #77)
  src/components/ui/DynamicOptimizedImage.tsx
  src/components/ui/EnhancedOptimizedImage.tsx
  src/components/ui/OptimizedImage.constants.ts
  src/components/ui/OptimizedImage.tsx
  src/components/ui/ResponsiveImage.tsx
  tests/performance/image-font-optimization.test.ts
Due: eslint, prettier, tsc, jest

test: Add comprehensive Phase 5 test suite for Issue #77
  tests/accessibility/optimized-image-a11y.spec.ts
  tests/e2e/workflows/image-user-journeys.spec.ts
  tests/integration/optimized-image-integration.test.tsx
Due: eslint, prettier, tsc, jest

docs: Update README with OptimizedImage consolidation achievement
  README.md
Due: prettier

Consolidate Image Component Duplication (Issue #77) (#91)
  README.md
  src/components/ui/DynamicOptimizedImage.tsx
  src/components/ui/EnhancedOptimizedImage.tsx
  src/components/ui/OptimizedImage.constants.ts
  src/components/ui/OptimizedImage.tsx
  src/components/ui/ResponsiveImage.tsx
  src/components/ui/__tests__/OptimizedImage.test.tsx
  tests/accessibility/optimized-image-a11y.spec.ts
  tests/e2e/workflows/image-user-journeys.spec.ts
  tests/integration/optimized-image-integration.test.tsx
  tests/performance/image-font-optimization.test.ts
Due: eslint, prettier, tsc, jest

ci: Add GitHub workflow automation for code quality and guidelines enforcement
  .github/workflows/commit-quality.yml
  .github/workflows/issue-validation.yml
  .github/workflows/pr-validation.yml
  .gitignore
Due: prettier

docs: Add session handoff for GitHub workflows integration
  SESSION_HANDOVER.md
Due: prettier

chore: Add GitHub workflow automation for code quality (#92)
  .github/workflows/commit-quality.yml
  .github/workflows/issue-validation.yml
  .github/workflows/pr-validation.yml
  .gitignore
  SESSION_HANDOVER.md
Due: prettier

docs: Update session handoff - PR #92 merged successfully
  SESSION_HANDOVER.md
Due: prettier

docs: Update session handoff - PR #92 merged successfully (#93)
  SESSION_HANDOVER.md
Due: prettier

docs: Update session handoff - branch cleanup complete
  SESSION_HANDOVER.md
Due: prettier

feat: upgrade pre-commit with enhanced AI attribution blocking
  .pre-commit-config.yaml
Due: prettier

docs: Update session handoff for mobile gallery PDR revision
  .gitignore
  .pre-commit-config.yaml
  SESSION_HANDOVER.md
Due: prettier

docs: Complete session handoff for mobile gallery implementation phase
  SESSION_HANDOVER.md
Due: prettier

feat: implement mobile gallery with TDD (Phase 1 of Issue #94)
  src/app/page.tsx
  src/components/adaptive/Gallery/__tests__/AdaptiveGallery.test.tsx
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.tsx
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/__tests__/MobileGallery.test.tsx
  src/components/mobile/Gallery/__tests__/MobileGalleryItem.test.tsx
  src/components/mobile/Gallery/index.ts
  src/hooks/shared/useDeviceType.ts
  src/utils/advanced-code-splitting.ts
  tests/fixtures/designs.ts
  tests/integration/dynamic-imports.test.ts
  tests/integration/optimized-image-integration.test.tsx
  tests/integration/real-gallery-navigation.test.tsx
Due: eslint, prettier, tsc, jest

docs: Complete session handoff for mobile gallery Phase 1
  SESSION_HANDOVER.md
Due: prettier

feat: complete Phase 2 - mobile gallery CSS and CDN optimization (Issue #94)
  SESSION_HANDOVER.md
  src/app/page.tsx
  src/styles/mobile/gallery.css
Due: eslint, prettier, tsc, jest

fix: accessibility improvements for mobile gallery (Issue #94)
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/mobile/Gallery/__tests__/MobileGallery.test.tsx
  src/styles/mobile/gallery.css
Due: eslint, prettier, tsc, jest

docs: update session handoff for Phase 3 agent validation
  SESSION_HANDOVER.md
Due: prettier

perf: fix hydration CLS and optimize device detection
  src/components/adaptive/Gallery/index.tsx
  src/hooks/shared/useDeviceType.ts
Due: eslint, prettier, tsc, jest

docs: update session handoff for Phase 3 completion
  SESSION_HANDOVER.md
Due: prettier

feat: Mobile homepage gallery UX optimization (Issue #94) (#95)
  .gitignore
  .pre-commit-config.yaml
  SESSION_HANDOVER.md
  src/app/page.tsx
  src/components/adaptive/Gallery/__tests__/AdaptiveGallery.test.tsx
  src/components/adaptive/Gallery/index.tsx
  src/components/desktop/Gallery/Gallery.tsx
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/__tests__/MobileGallery.test.tsx
  src/components/mobile/Gallery/__tests__/MobileGalleryItem.test.tsx
  src/components/mobile/Gallery/index.ts
  src/hooks/shared/useDeviceType.ts
  src/styles/mobile/gallery.css
  src/utils/advanced-code-splitting.ts
  tests/fixtures/designs.ts
  tests/integration/dynamic-imports.test.ts
  tests/integration/optimized-image-integration.test.tsx
  tests/integration/real-gallery-navigation.test.tsx
Due: eslint, prettier, tsc, jest

docs: update session handoff for Issue #94 completion
  SESSION_HANDOVER.md
Due: prettier

fix: add iOS lockdown mode support to mobile gallery
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/__tests__/MobileGallery.test.tsx
  src/components/mobile/Gallery/__tests__/MobileGalleryItem.test.tsx
Due: eslint, prettier, tsc, jest

fix: iOS lockdown mode support for mobile gallery (#96)
  SESSION_HANDOVER.md
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/__tests__/MobileGallery.test.tsx
  src/components/mobile/Gallery/__tests__/MobileGalleryItem.test.tsx
Due: eslint, prettier, tsc, jest

fix: hide FirstImage component on mobile devices (#97)
  src/styles/mobile/gallery.css
Due: prettier

fix: hide FirstImage component on mobile devices
  src/styles/mobile/gallery.css
Due: prettier

fix: align Previous button text properly on mobile (#98)
  src/styles/mobile/project.css
Due: prettier

fix: align Previous button text properly on mobile
  src/styles/mobile/project.css
Due: prettier

refactor: shorten Previous to Prev for better mobile fit (#99)
  src/components/mobile/Project/MobileProjectNavigation.tsx
Due: eslint, prettier, tsc, jest

refactor: shorten Previous to Prev for better mobile fit
  src/components/mobile/Project/MobileProjectNavigation.tsx
Due: eslint, prettier, tsc, jest

refactor: remove year display from mobile gallery
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/__tests__/MobileGalleryItem.test.tsx
Due: eslint, prettier, tsc, jest

refactor: remove year display from mobile gallery (#100)
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/__tests__/MobileGalleryItem.test.tsx
Due: eslint, prettier, tsc, jest
