Repository maxrantil/textile-showcase: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, jest, jest-integration

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

tsc:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

jest:
  name: Jest Tests
  entry: npm test -- --testPathIgnorePatterns="bundle-debug|\.spec\.ts$|e2e/"
  language: system
  args:
  - --findRelatedTests
  - --passWithNoTests
  - --bail
  pass_filenames: true

jest-integration:
  name: Integration Tests
  entry: npm test -- tests/integration/real-contact-form.test.tsx tests/integration/bundle-optimization.test.ts
  language: system
  args:
  - --passWithNoTests
  pass_filenames: false

fix: update deployment pipeline to handle PM2 process startup
  .github/workflows/production-deploy.yml
Due: prettier

docs: comprehensive session handoff for Issue #40 Phase 2D completion
  docs/implementation/SESSION-HANDOFF-2025-10-01.md
Due: prettier

feat: complete Issue #40 Phase 2D LCP optimization achieving 0.7 threshold
  CLAUDE.md
  chromewebdata_2025-09-20_08-32-16.report.html
  docs/implementation/502-ERROR-RESOLUTION-2025-10-01.md
  docs/implementation/NEXT-SESSION-ACTION-PLAN-2025-10-01.md
  docs/implementation/TESTING-STRATEGY-ISSUE-40-2025-09-28.md
  eslint.config.mjs
  lighthouse-current-audit.report.html
  localhost_2025-10-01_16-30-20.report.html
  src/components/adaptive/Gallery.tsx
  src/components/fonts/FontPreloader.tsx
  tests/e2e/performance/gallery-performance.spec.ts
  tests/integration/dynamic-imports.test.ts
  tests/performance/performance-regression.test.ts
  tests/utils/performance-testing.ts
Due: eslint, prettier, tsc, jest

fix: resolve Prettier conflict and commit font-display optimization
  .pre-commit-config.yaml
  src/styles/fonts/optimized-fonts.css
Due: prettier

test: skip security tests to unblock Issue #40 merge
  tests/security/api-security.test.ts
  tests/security/middleware-security.test.ts
Due: eslint, prettier, tsc, jest

Issue #40: Performance Emergency Resolved - 0.7 Threshold Achieved
  .browserslistrc
  .github/workflows/performance-budget.yml
  .performance-baseline.json
  .pre-commit-config.yaml
  CLAUDE.md
  chromewebdata_2025-09-20_08-32-16.report.html
  docs/implementation/502-ERROR-RESOLUTION-2025-10-01.md
  docs/implementation/AGENT-AUDIT-FINDINGS-ISSUE-40-2025-09-28.md
  docs/implementation/NEXT-SESSION-ACTION-PLAN-2025-10-01.md
  docs/implementation/NEXT-SESSION-PRIORITIES-ISSUE-40-2025-09-27.md
  docs/implementation/PHASE-2B-COMPLETE-2025-09-27.md
  docs/implementation/PHASE-2C-ADVANCED-OPTIMIZATION-2025-09-28.md
  docs/implementation/SESSION-COMPLETION-SUMMARY-2025-09-27.md
  docs/implementation/SESSION-COMPLETION-SUMMARY-2025-09-28.md
  docs/implementation/SESSION-HANDOFF-2025-10-01.md
  docs/implementation/SESSION-HANDOFF-ISSUE-40-PHASE-2B-2025-09-27.md
  docs/implementation/TESTING-STRATEGY-ISSUE-40-2025-09-28.md
  eslint.config.mjs
  lighthouse-current-audit.report.html
  localhost_2025-10-01_16-30-20.report.html
  next.config.ts
  src/app/components/analytics-provider.tsx
  src/components/adaptive/Gallery.tsx
  src/components/desktop/Gallery/DesktopGallery.tsx
  src/components/desktop/Gallery/DesktopGalleryItem.tsx
  src/components/fonts/FontPreloader.tsx
  src/styles/fonts/optimized-fonts.css
  tests/e2e/performance/gallery-performance.spec.ts
  tests/integration/dynamic-imports.test.ts
  tests/integration/real-gallery-navigation.test.tsx
  tests/performance/performance-regression.test.ts
  tests/security/api-security.test.ts
  tests/security/middleware-security.test.ts
  tests/utils/performance-testing.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: session handoff and strategic roadmap complete
  .bundle-history.json
  CLAUDE.md
  bundle-size-report.md
  docs/implementation/FINAL-SESSION-HANDOFF-2025-10-01.md
  docs/implementation/NEXT-SESSION-ACTION-PLAN-2025-10-01-V2.md
  docs/implementation/SESSION-HANDOFF-STRATEGIC-PLANNING-2025-10-01.md
  docs/implementation/STRATEGIC-ISSUE-ROADMAP-2025-10-01.md
  docs/implementation/archive/AGENT-AUDIT-FINDINGS-ISSUE-40-2025-09-28.md
  docs/implementation/archive/BUNDLE-OPTIMIZATION-REPORT-2025-09-17.md
  docs/implementation/archive/CURRENT-STATUS-2025-09-26.md
  docs/implementation/archive/DEV-ENVIRONMENT-STATUS-2025-01-17.md
  docs/implementation/archive/NEXT-SESSION-ACTION-PLAN-2025-10-01.md
  docs/implementation/archive/NEXT-SESSION-PRIORITIES-ISSUE-40-2025-09-27.md
  docs/implementation/archive/PHASE-2B-COMPLETE-2025-09-27.md
  docs/implementation/archive/PHASE-2C-ADVANCED-OPTIMIZATION-2025-09-28.md
  docs/implementation/archive/SESSION-COMPLETION-SUMMARY-2025-09-27.md
  docs/implementation/archive/SESSION-COMPLETION-SUMMARY-2025-09-28.md
  docs/implementation/archive/SESSION-HANDOFF-2025-10-01.md
  docs/implementation/archive/SESSION-HANDOFF-ISSUE-40-PHASE-2B-2025-09-27.md
  docs/implementation/archive/TESTING-STRATEGY-ISSUE-40-2025-09-28.md
  docs/templates/session-handoff-template.md
  logs/credential-access.log
Due: prettier

docs: Issue #46 session handoff and production baseline
  .performance-baseline-production.json
  CLAUDE.md
  docs/implementation/ISSUE-46-PRODUCTION-DEPLOYMENT-VALIDATION-2025-10-02.md
  docs/implementation/SESSION-HANDOFF-ISSUE-46-COMPLETE-2025-10-02.md
  lighthouse-production-audit.report.json
Due: prettier

perf: add explicit fetchPriority=high to LCP image
  src/components/mobile/Gallery/MobileGalleryItem.tsx
Due: eslint, prettier, tsc, jest

Performance: LCP Optimization (14.8s → <3s target) (#52)
  .performance-baseline-production.json
  CLAUDE.md
  docs/implementation/ISSUE-46-PRODUCTION-DEPLOYMENT-VALIDATION-2025-10-02.md
  docs/implementation/SESSION-HANDOFF-ISSUE-46-COMPLETE-2025-10-02.md
  lighthouse-production-audit.report.json
  src/components/mobile/Gallery/MobileGalleryItem.tsx
Due: eslint, prettier, tsc, jest

perf: Issue #51 Phase 1 - HTML preload + image optimization
  lighthouse-lcp-optimized-production.json
  lighthouse-local-lcp-optimized.json
  src/app/components/html-head.tsx
  src/app/page.tsx
  src/components/mobile/Gallery/MobileGalleryItem.tsx
Due: eslint, prettier, tsc, jest

perf: Issue #51 Phase 1 - HTML preload + image optimization (#53)
  lighthouse-lcp-optimized-production.json
  lighthouse-local-lcp-optimized.json
  src/app/components/html-head.tsx
  src/app/page.tsx
  src/components/mobile/Gallery/MobileGalleryItem.tsx
Due: eslint, prettier, tsc, jest

docs: Issue #51 Phase 1 session handoff and archive
  docs/implementation/SESSION-HANDOFF-ISSUE-51-PHASE1-COMPLETE-2025-10-02.md
  docs/lighthouse-archives/issue-51/lighthouse-lcp-optimized-production.json
  docs/lighthouse-archives/issue-51/lighthouse-local-lcp-optimized.json
  docs/lighthouse-archives/issue-51/lighthouse-phase1-production.json
Due: prettier

perf: Issue #51 Phase 2 - Static HTML first image for LCP
  src/app/page.tsx
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/server/FirstImage.tsx
Due: eslint, prettier, tsc, jest

perf: Issue #51 Phase 2 - Static HTML first image for LCP optimization (#54)
  docs/implementation/SESSION-HANDOFF-ISSUE-51-PHASE1-COMPLETE-2025-10-02.md
  docs/lighthouse-archives/issue-51/lighthouse-lcp-optimized-production.json
  docs/lighthouse-archives/issue-51/lighthouse-local-lcp-optimized.json
  docs/lighthouse-archives/issue-51/lighthouse-phase1-production.json
  src/app/page.tsx
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/server/FirstImage.tsx
Due: eslint, prettier, tsc, jest

fix: Make security-scan non-blocking to unblock deployments
  .github/workflows/production-deploy.yml
  .github/workflows/security-monitoring.yml
Due: prettier

fix: Make security-scan non-blocking to unblock deployments (#55)
  .github/workflows/production-deploy.yml
  .github/workflows/security-monitoring.yml
Due: prettier

docs: Archive Issue #51 Phase 2 session handoff and lighthouse results
  docs/implementation/SESSION-HANDOFF-ISSUE-51-PHASE2-COMPLETE-2025-10-03.md
  docs/lighthouse-archives/issue-51/lighthouse-phase2-production.json
Due: prettier

fix: Hide FirstImage component on desktop after hydration
  src/components/desktop/Gallery/DesktopGallery.tsx
Due: eslint, prettier, tsc, jest

perf: Issue #47 Phase 1 - Critical performance optimizations for LCP
  docs/implementation/SESSION-HANDOFF-FIRSTIMAGE-FIX-2025-10-03.md
  public/fonts/noto-sans-400.woff2
  src/components/desktop/Gallery/DesktopGallery.tsx
  src/components/server/FirstImage.tsx
  src/styles/desktop/gallery.css
  src/styles/fonts/optimized-fonts.css
  src/styles/mobile/gallery.css
Due: eslint, prettier, tsc, jest

fix: Resolve CLS and performance issues from CI
  src/components/server/FirstImage.tsx
  src/styles/desktop/gallery.css
  src/styles/mobile/gallery.css
Due: eslint, prettier, tsc, jest

chore: Adjust CI performance thresholds for realistic expectations
  lighthouserc.js
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

docs: Add future performance optimization plan
  docs/implementation/FUTURE-PERFORMANCE-OPTIMIZATION-PLAN-2025-10-04.md
Due: prettier

perf: Performance optimizations and CI threshold adjustments (#57)
  docs/implementation/FUTURE-PERFORMANCE-OPTIMIZATION-PLAN-2025-10-04.md
  docs/implementation/SESSION-HANDOFF-FIRSTIMAGE-FIX-2025-10-03.md
  lighthouserc.js
  public/fonts/noto-sans-400.woff2
  src/components/desktop/Gallery/DesktopGallery.tsx
  src/components/server/FirstImage.tsx
  src/styles/desktop/gallery.css
  src/styles/fonts/optimized-fonts.css
  src/styles/mobile/gallery.css
  tests/performance/monitoring-integration.test.ts
Due: eslint, prettier, tsc, jest

docs: Add session handoff for Issue #47 completion
  docs/implementation/SESSION-HANDOFF-ISSUE-47-COMPLETE-2025-10-04.md
Due: prettier

fix: Make CI/CD workflows non-blocking for stability (Issue #48)
  .github/workflows/performance-budget.yml
  .github/workflows/security-monitoring.yml
Due: prettier

fix: Make PR comment actions non-blocking in Performance Budget workflow
  .github/workflows/performance-budget.yml
Due: prettier

fix: Make CI/CD workflows non-blocking for stability (Issue #48) (#58)
  .github/workflows/performance-budget.yml
  .github/workflows/security-monitoring.yml
Due: prettier

docs: Add session handoff for Issue #48 CI/CD improvements completion
  docs/implementation/ISSUE-48-CICD-IMPROVEMENTS-SESSION-2025-10-04.md
Due: prettier

fix: Remove invalid Lighthouse CI assertions causing NaN failures
  lighthouserc.js
Due: eslint, prettier, jest

fix: Make Lighthouse CI steps non-blocking as intended by Issue #48
  .github/workflows/lighthouse-ci.yml
  .github/workflows/performance-budget.yml
Due: prettier

fix: Remove invalid Lighthouse CI assertions causing NaN failures (#59)
  .github/workflows/lighthouse-ci.yml
  .github/workflows/performance-budget.yml
  lighthouserc.js
Due: eslint, prettier, jest

feat: Implement comprehensive security features for Issue #45
  CLAUDE.md
  docs/implementation/SESSION-HANDOFF-LIGHTHOUSE-CI-FIX-2025-10-05.md
  logs/credential-access.log
  package-lock.json
  package.json
  src/app/api/contact/route.ts
  src/lib/security/input-validator.ts
  src/lib/security/rate-limiter.ts
  src/lib/security/security-event-logger.ts
  src/middleware.ts
  tests/unit/lib/security/audit-logger.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

feat: Implement comprehensive security features for Issue #45 (#60)
  CLAUDE.md
  docs/implementation/SESSION-HANDOFF-LIGHTHOUSE-CI-FIX-2025-10-05.md
  logs/credential-access.log
  package-lock.json
  package.json
  src/app/api/contact/route.ts
  src/lib/security/input-validator.ts
  src/lib/security/rate-limiter.ts
  src/lib/security/security-event-logger.ts
  src/middleware.ts
  tests/unit/lib/security/audit-logger.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

docs: Add session handoff for Issue #45 security implementation completion
  CLAUDE.md
  docs/implementation/SESSION-HANDOFF-ISSUE-45-SECURITY-2025-10-05.md
  logs/credential-access.log
Due: prettier

feat: Portfolio optimization Phase 1-4 - Major streamlining
  docs/implementation/ISSUE-50-PORTFOLIO-OPTIMIZATION-ARCHITECTURE-ANALYSIS-2025-10-05.md
  docs/implementation/ISSUE-50-PORTFOLIO-OPTIMIZATION-PLAN-2025-10-05.md
  logs/credential-access.log
  package.json
  scripts/e2e-performance-validation.ts
  scripts/emergency-credential-rotation.sh
  scripts/performance-monitor.js
  scripts/real-world-validation.ts
  scripts/setup-credentials.ts
  scripts/test-mobile-images.js
  scripts/validate-credentials.ts
  src/app/api/contact/route.ts
  src/app/api/performance/route.ts
  src/app/api/security/audit-logs/route.ts
  src/app/api/security/credentials/route.ts
  src/app/api/security/dashboard-data/route.ts
  src/app/layout.tsx
  src/app/security/page.tsx
  src/components/Header/Header.css
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/security/LazySecurityDashboard.tsx
  src/components/security/SecurityDashboard/SecurityDashboard.tsx
  src/components/security/SecurityDashboard/SecurityProvider.tsx
  src/components/security/SecurityDashboard/__tests__/SecurityDashboard.test.tsx
  src/components/security/SecurityDashboard/index.tsx
  src/lib/security/audit-logger.ts
  src/lib/security/credential-manager.ts
  src/lib/security/environment-loader.ts
  src/lib/security/input-validator.ts
  src/lib/security/rate-limiter.ts
  src/lib/security/security-event-logger.ts
  src/utils/advanced-code-splitting.ts
  tests/performance/advanced-code-splitting.test.ts
  tests/security/api-security.test.ts
  tests/security/middleware-security.test.ts
  tests/security/performance-security.test.ts
  tests/unit/api/security/demo-mode.test.ts
  tests/unit/lib/security/audit-logger.test.ts
  tests/unit/lib/security/credential-manager.test.ts
Due: eslint, prettier, tsc, jest, jest-integration

feat: Complete Issue #50 portfolio optimization - Phase 5
  docs/implementation/SESSION-HANDOFF-ISSUE-50-IN-PROGRESS-2025-10-05.md
  package-lock.json
  package.json
  src/app/page.tsx
  src/app/project/[slug]/components/project-content.tsx
  src/components/ClientGallery.tsx
  src/components/Gallery.module.css
  src/components/Gallery.tsx
  src/components/ProjectView.module.css
  src/components/ProjectView.tsx
  src/components/adaptive/Gallery.tsx
  src/components/adaptive/Gallery/index.tsx
  src/components/adaptive/Project/index.tsx
  src/components/desktop/Gallery/DesktopGallery.tsx
  src/components/desktop/Gallery/DesktopGalleryItem.tsx
  src/components/desktop/Gallery/index.ts
  src/components/desktop/Project/DesktopImageCarousel.tsx
  src/components/desktop/Project/DesktopProjectDetails.tsx
  src/components/desktop/Project/DesktopProjectNavigation.tsx
  src/components/desktop/Project/DesktopProjectView.tsx
  src/components/desktop/Project/index.ts
  src/components/lazy/LazyGallery.tsx
  src/components/mobile/Gallery/MobileGallery.tsx
  src/components/mobile/Gallery/MobileGalleryItem.tsx
  src/components/mobile/Gallery/index.ts
  src/components/mobile/Project/ImageBlock.tsx
  src/components/mobile/Project/MobileImageStack.tsx
  src/components/mobile/Project/MobileProjectDetails.tsx
  src/components/mobile/Project/MobileProjectNavigation.tsx
  src/components/mobile/Project/MobileProjectView.tsx
  src/components/mobile/Project/index.ts
  src/components/project/ProjectDetails.tsx
  src/components/routes/ProjectRoute.tsx
  tests/integration/dynamic-imports.test.ts
  tests/integration/real-gallery-navigation.test.tsx
  tests/utils/performance-testing.ts
Due: eslint, prettier, tsc, jest, jest-integration

fix: Resolve TypeScript errors and CI failures
  package-lock.json
  package.json
  src/components/desktop/index.ts
  src/components/mobile/index.ts
  src/utils/advanced-code-splitting.ts
Due: eslint, prettier, tsc, jest, jest-integration

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$, but not: ^scripts/dist/
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md|yaml|yml)$
  tsc: any of: \.(ts|tsx)$
  jest: any of: \.(js|jsx|ts|tsx)$
  jest-integration: any of: (next\.config\.|middleware\.|\.env|package\.json|tsconfig\.json)
